.boxIn {
  &-content {
    &:nth-child(even) {
      background-color: #f7f8f9;
    }
  }

  &-pic {
    max-width: 48rem;
    width: 100%;
  }
  &-text {
    max-width: 48rem;
    width: 100%;

    .txt01 {
      min-height: 2.7rem;
      padding: 0.5rem 1.5rem 0.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #697c8e;
      font-size: 1.2rem;
      font-weight: bold;
      width: max-content;
    }
  }
  @include sp {
    &-pic,
    &-text {
      max-width: 100%;
    }
  }
}
.container-boxIn,
.container-box8,
.container-box832 {
  display: flex;
  justify-content: space-between;
  width: 100rem;
  margin: 0 auto;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: row-reverse;
  }

  @include sp {
    width: 100%;
    padding: 0 2.5rem;
  }
}

.container-box8 {
  width: 80rem;
  @include sp {
    width: 100%;
    padding: 0 2.5rem;
  }
}
.container-box832 {
  width: 83.2rem;
  @include sp {
    width: 100%;
    padding: 0 2.5rem;
    flex-direction: column;
  }
}
@include tb {
  .container-boxIn {
    width: 95.23809523809524%;
  }
  .container-box8 {
    width: 76.19047619047619%;
  }
  .container-box832 {
    width: 79.23809523809524%;
  }
}
