.boxIn-link {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  padding-right: 4.5rem;
  width: max-content;
  min-height: 3.8rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  .ico {
    position: absolute;
    top: 1.6rem;
    right: 0.2rem;
    background-image: url("../../assets/img/ico-arrow.svg");
    width: 2rem;
    height: 0.4rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background: #697c8e;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -200%;
    width: 0%;
    height: 0.2rem;
    background: #697c8e;
    z-index: -1;
  }
  &:hover {
    &:before {
      z-index: 1;
      left: 100%;
      transition: 0.4s ease-in-out;
    }
    &:after {
      z-index: 1;
      left: 0;
      width: 100%;
      transition: 0.8s ease-in-out;
    }
  }
}
.btn-contact {
  width: 48rem;
  height: 8rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 0.2rem solid #fff;
  color: #d88b83;
  border-radius: 50px;
  background-color: #fff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  .txtCt {
    padding-left: 1.4rem;
  }
  .ico {
    position: relative;
    width: 2.4rem;
    height: 2rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s ease-in-out;
      &:nth-child(2) {
        opacity: 0;
      }
    }
  }
  &:hover {
    color: #fff;
    background-color: #d88b83;
    .ico {
      img {
        &:nth-child(1) {
          opacity: 0;
        }
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }

  @include sp {
    font-size: 1.4rem;
    width: 32.5rem;
    height: 6rem;

    .txtCt {
      padding-left: 1.2rem;
    }

    .ico {
      width: 2rem;
      height: 1.6rem;
    }
  }
}
