.frm__group {
  display: flex;
  // align-items: flex-start;
  align-items: center;
  margin-bottom: 3rem;
  &.cstit-field {
    align-items: flex-start;
    .frm__tit {
      margin-top: 1rem;
    }
  }
  .frm__tit {
    min-width: 20rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    // margin-top: 1rem;

    span {
      background-color: #d88b83;
      width: 4.8rem;
      height: 3rem;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;

      &.off {
        background-color: #a6b6c4;
      }
    }
  }

  .frm-control {
    width: calc(100% - 20rem);
  }

  #agree_check {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  input,
  select,
  textarea {
    padding: 1.6rem 2rem;
    width: 100%;
    outline: none;
    color: #181818;
    font-size: 1.6rem;
    background-color: #f7f8f9;
    border-radius: 0.6rem;
    border: none;
    resize: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: #a6b6c4;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: $zenkaku;
  }
  textarea {
    font-size: inherit;
    font-family: inherit;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/assets/img/select-arrow.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.7rem);
    background-position-y: 50%;

    &:required:invalid {
      color: #a6b6c4;
      font-weight: 400;
      font-size: 1.6rem;
    }
  }

  option[value=""][disabled] {
    display: none;
  }

  option {
    color: #181818;
  }

  input[type="radio"] {
    width: inherit;
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      background-color: #ffffff;
    }

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .wpcf7-form-control-wrap {
    display: flex;
    align-items: center;

    label {
      margin-right: 4rem;
      padding-left: 2.5rem;
      position: relative;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0.3rem;
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid 0.1rem #697c8e;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 0.4rem;
      left: 0.4rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #697c8e;
    }
  }

  &.constraint {
    width: 27rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5rem;
    padding-top: 2rem;
  }
  .select-time {
    select {
      max-width: 12rem;
      & + .form-ctrl_txt {
        margin: 0 0.8rem;
      }
    }
    @include sp {
      flex-direction: column;
      align-items: flex-start;
    }
    .select-box {
      display: flex;
      align-items: center;
      width: 33.333333%;
      @include sp {
        width: 50%;
        margin-bottom: 2rem;
      }
    }
  }

  .wpcf7-list-item-label {
    height: 2rem;
    width: 2rem;
    border: 1px solid #697c8e;
    display: block;
    position: relative;
    margin-right: 1rem;
    background-color: #fff;
    cursor: pointer;
    margin-top: 0.7rem;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: #fff;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: width 0.3s ease-in-out;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0.2rem;
      left: 0.3rem;
      width: 1.2rem;
      height: 1.2rem;
      background-image: url("../../assets/img/ico_checked.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .ckbPrivacy input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  .ckbPrivacy {
    input:checked ~ .wpcf7-list-item-label:before {
      width: 0;
      left: auto;
      right: 0;
    }
  }

  .form-ctrl_txt {
    a {
      border-bottom: 1px solid #697c8e;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }
  @include sp {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3rem;

    .frm__tit {
      min-width: auto;
      display: flex;
      align-items: center;
      font-weight: bold;
      margin-bottom: 1.6rem;

      span {
        background-color: #d88b83;
        width: 4.8rem;
        height: 3rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        font-size: 1.4rem;
        @include sp {
        }

        &.off {
          background-color: #a6b6c4;
        }
      }
    }

    .frm-control {
      width: 100%;
    }

    #agree_check {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    input,
    textarea {
      padding: 1.6rem 2rem;
      width: 100%;
      outline: none;
      color: #181818;
      font-size: 1.6rem;
      background-color: #f7f8f9;
      border-radius: 0.6rem;
      border: none;

      @include sp {
        padding: 1.5rem 2rem;
      }
    }

    input::placeholder,
    textarea::placeholder {
      color: #a6b6c4;
      font-weight: 400;
      font-size: 1.6rem;
    }

    &.constraint {
      width: 27rem;
      margin: 0 auto;
      position: relative;
      margin-bottom: 5rem;
    }

    .wpcf7-list-item-label {
      height: 2rem;
      width: 2rem;
      border: 1px solid #697c8e;
      display: block;
      position: relative;
      margin-right: 1rem;
      background-color: #fff;
      cursor: pointer;
      margin-top: 0.7rem;
      overflow: hidden;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: width 0.3s ease-in-out;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0.2rem;
        left: 0.3rem;
        width: 1.2rem;
        height: 1.2rem;
        background-image: url("../../assets/img/ico_checked.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .ckbPrivacy input {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      cursor: pointer;
    }

    .ckbPrivacy {
      input:checked ~ .wpcf7-list-item-label:before {
        width: 0;
        left: auto;
        right: 0;
      }
    }

    .form-ctrl_txt {
      a {
        border-bottom: 1px solid #697c8e;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.frmBtn-link {
  width: 32.2rem;
  height: 6.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.8rem;
  border-radius: 4rem;
  text-transform: uppercase;
  position: relative;
  padding-left: 0;
  border: 2px solid #d88b83;
  overflow: hidden;
  cursor: pointer;
  background-color: #d88b83;
  z-index: 4;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    color: #d88b83;
    background-color: #fff;

    .ico {
      img {
        &:nth-child(1) {
          opacity: 0;
        }

        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }

  .ico {
    position: relative;
    width: 1.7rem;
    height: 1.7rem;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s ease-in-out;

      &:nth-child(2) {
        opacity: 0;
      }
    }
  }

  .text {
    padding-left: 1.3rem;
  }
}
