@import "../base/mixin";
.news {
  &-content {
    width: 100%;
  }
  &-item {
    position: relative;
    padding-bottom: 2.6rem;
    margin-bottom: 2.2rem;
    &:last-child {
      margin-bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: #697c8e;
    }
    .ttl_h3 {
      margin-bottom: 0.2rem;
    }
    .txt {
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
  .news-link-item {
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  .time-cat {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .time {
      font-family: $outfit;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      position: relative;
      padding-right: 1.4rem;
      margin-right: 1rem;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 1px;
        height: 1.5rem;
        background-color: #697c8e;
      }
    }
    .cat {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}
.storeOl {
  &-list {
    display: flex;
    column-gap: 5rem;
    &-item {
      display: flex;
      align-items: center;
    }
  }
  &-link-item {
    display: flex;
    align-items: center;
    position: relative;
    &.noImg {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.5;
      position: relative;
      min-width: 10.1rem;
      width: max-content;
      min-height: 1.9rem;
      display: flex;
      padding-bottom: 1rem;
      overflow: hidden;
      .ico-link {
        position: absolute;
        top: 0.5rem;
        right: 0;
        background-image: url("../../assets/img/ico-externallink.svg");
        width: 1.2rem;
        height: 1.2rem;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.2rem;
        background: #697c8e;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -200%;
        width: 0%;
        height: 0.2rem;
        background: #697c8e;
        z-index: -1;
      }
      &:hover {
        &:before {
          z-index: 1;
          left: 100%;
          transition: 0.4s ease-in-out;
        }
        &:after {
          z-index: 1;
          left: 0;
          width: 100%;
          transition: 0.8s ease-in-out;
        }
      }
    }
    &.wdImg {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        background-color: #fff;
      }
      width: 24rem;
    }
    &:hover {
      &.wdImg {
        &::before {
          opacity: 0.4;
        }
      }
    }
  }

  @include sp {
  }
}
