.our-brand-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #697c8fcc;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s ease-in-out 0.3s, opacity 0.3s 0s, transform 0.3s;
  z-index: 999;
  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s ease-in-out 0s, opacity 0.3s 0s, transform 0.3s;
    .overlay_popup {
      z-index: 996 !important;
      pointer-events: auto !important;
    }
  }
  .overlay_popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    cursor: pointer;
    pointer-events: none;
  }
  #video-modal-iframe {
    // width: 43vw;
    // height: calc(43vw * 0.5625);
    // position: absolute;
    // margin-left: 0;
    // margin-top: 0;
    // top: 50%;
    // left: 50%;
    // z-index: 998;
    // transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
  }
  .content {
    width: 43vw;
    height: calc(43vw * 0.5625);
    min-width: 82rem;
    min-height: 46rem;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    top: 50%;
    left: 50%;
    z-index: 998;
    transform: translateX(-50%) translateY(-50%);
  }
  .icon_close {
    width: 2rem;
    height: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    position: absolute;
    top: 0.8rem;
    right: -3.5rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    pointer-events: none;
    .icon-line {
      background-color: #fff;
      display: block;
      height: 0.1rem;
      width: 100%;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
        0.3s ease-in-out;
      &:nth-child(1) {
        transform: translateY(1px) rotate(45deg);
      }
      &:nth-child(2) {
        transform: translateY(0) rotate(135deg);
      }
    }
  }
  @include sp {
    .content {
      width: 95vw;
      height: calc(95vw * 0.5625);
      margin-left: 0;
      margin-top: 0;
      transform: translateX(-50%) translateY(-50%);
      min-width: auto;
      min-height: auto;
    }
    .icon_close {
      top: -1.5rem;
      right: -1rem;
    }
    // #video-modal-iframe {
    // }
  }
}
