#tabs-nav {
  display: flex;
  @include sp{
    width: 100%;
  };
  li {
    width: 20rem;
    .tab-link-item {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.7rem;
      background-color: #697c8e1a;
      color: #697c8e;
      font-size: 1.8rem;
      font-weight: bold;
      transition: background-color 0.3s ease-in-out;
      width: 100%;
    }
    @include sp{
      width: 50%;
    };
    &.active,
    &:hover {
      .tab-link-item {
        background-color: #fff;
      }
    }
  }
}
