.ttl-h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
  display: block;
  position: relative;
  width: max-content;
  margin-bottom: 3.5rem;
  &.en {
    font-family: $outfit;
    letter-spacing: 0.1em;
  }
  &.wdicon {
    padding-left: 3.8rem;
    &::before {
      content: "";
      position: absolute;
      top: 0.3rem;
      left: 0.4rem;
      width: 2rem;
      height: 2.3rem;
      background-image: url(../../assets/img/ico-onlinestore.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @include tb {
    width: auto;
  }

  @include sp {
    font-size: 2.2rem;
    width: auto;
  }
}
.ttl_h3 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
}
.ttl_ctFrom_h1 {
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: center;
  width: 100%;
}
