#wrapper {
  &.comingsoon {
    padding-left: 0;
  }
  @include sp {
    &.comingsoon {
      padding-top: 0;
    }
  }
}
.comingsoon {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100%;
  }
  .content {
    width: 65rem;
    min-height: 40rem;
    text-align: center;
    position: relative;
  }
  .ttl_cos_h1 {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1.4rem;
  }
  .ttl_cos_h2 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    font-weight: bold;
  }
  .txt {
    margin-bottom: 5.7rem;
    line-height: 1.5;
  }
  .txt-small {
    font-size: 1.4rem;
    margin-bottom: 6.3rem;
  }

  .br-top {
    padding-top: 4rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #697c8e;
    }
  }
  @include sp {
    .container {
      padding-bottom: 2rem;
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 100vh;
      width: 100%;
      overflow: auto;
    }
    .content {
      width: 100%;
      min-height: auto;
      text-align: center;
      position: relative;
    }
    .ttl_cos_h1 {
      margin-bottom: 4.7rem;
    }
    .ttl_cos_h2 {
      font-size: 1.8rem;
      white-space: nowrap;
    }
    .txt {
      margin-bottom: 4.7rem;
      line-height: 1.5;
      text-align: left;
    }
    .txt-small {
      font-size: 1.4rem;
      margin-bottom: 7rem;
      text-align: center;
    }
  }
}
