.sub-head {
  height: 15rem;
  position: relative;
  .title {
    color: #697c8e;
  }
  @include sp {
    height: 11rem;
  }
}
.companyoutline {
  .ttl-h2 {
    margin-bottom: 3.5rem;
  }
  .ttl_h3 {
    margin-bottom: 2rem;
  }
  .boxIn-content {
    padding: 10rem 0;
    @include sp {
      padding: 8rem 0;
    }
  }
  & + .breadcrumb + .logoft {
    background: #d1d7dd;
  }
}
.table {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  table {
    width: 100%;
    tr {
      border-top: solid 0.1rem #697c8e;
      border-bottom: solid 0.1rem #697c8e;
      @include sp {
        display: flex;
        flex-direction: column;
        border-bottom: none;
        &:last-child {
          border-bottom: solid 0.1rem #697c8e;
        }
      }
    }
    td {
      padding: 2.5rem;
      line-height: 2;
      @include sp {
        padding: 2rem;
      }
      &:first-child {
        width: 30%;
        font-weight: bold;
        @include sp {
          width: 100%;
          padding-bottom: 1.5rem;
        }
      }
      &:last-child {
        width: 70%;
        padding-left: 0;
        @include sp {
          padding-top: 0;
          width: 100%;
          padding-left: 2rem;
        }
      }
    }
  }
}
.maps {
  .container-box8 {
    display: block;
  }
  &-content {
    height: 50rem;
    margin: 0 calc(50% - 50vw) 3.5rem calc(50% - 50vw + 8rem);
    &:last-child {
      margin-bottom: 0;
    }
    @include sp {
      margin: 0 -2.5rem 3.5rem;
      height: 20rem;
    }
  }
}
