@import "../base/mixin";
.title {
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-weight: bold;
  z-index: 1;
  font-size: 3rem;
  color: #ffffff;
  @include sp {
    top: 3rem;
    left: 2.5rem;
  }
}
.mv {
  position: relative;
  height: 60.7rem;
  @include sp {
    height: 37.5rem;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top center;
  }
  &-pic {
    position: fixed;
    height: 70rem;
    z-index: -1;
    &.show {
      img {
        height: 100vh;
        width: 100vw;
      }
    }
    @include sp {
      height: 37.5rem;
    }
  }
  @include tb {
    &-pic {
      &.show {
        img {
          height: 100vh;
        }
      }
    }
  }
  @include sp {
    &-pic {
      width: 100%;
      &.show {
        img {
          height: 100vh;
        }
      }
    }
    img {
      height: 100%;
    }
  }
}
.inTro {
  position: relative;
  background: #ffffff;
  @include sp {
    top: 0;
  }

  .ttl-h2 {
    text-align: center;
    margin: 0 auto 3.3rem;
    @include sp {
      text-align: left;
    }
  }

  .container-inTro {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
  }

  &-wrap {
    background: #ffffff;
    padding: 10rem 10rem 5.3rem;
    top: -14.8rem;
    position: relative;
    @include tb {
      padding: 10rem 2rem 5.3rem;
    }
    @include sp {
      padding: 8rem 2.5rem;
      top: 0;
    }
  }
}

.products {
  .ttl-h2 {
    text-align: center;
    margin: 0 auto 3.4rem;
    @include sp {
      text-align: left;
    }
  }

  .container-products {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
  }

  &-list {
    display: flex;
    gap: 0 2rem;
    margin-bottom: -7rem;
    position: relative;
    top: -10.4rem;
    @include sp {
      flex-wrap: wrap;
      gap: 0.3rem;
      padding: 0 2.5rem;
      top: -0.3rem;
      margin-bottom: 3rem;
      li {
        width: calc(50% - 0.3rem / 2);
        &:first-child {
          width: 100%;
        }
      }
    }
    @include tb {
      padding: 0 2rem;
    }
  }

  &-wrap {
    padding: 0 10rem 10rem;
    @include sp {
      padding: 0 2.5rem 8rem;
    }
  }
  &--1 {
    background: #ffffff;
    .products-list {
      top: 0;
      margin-bottom: 3.5rem;
    }
    .container-products {
      padding-top: 9.8rem;
      @include sp {
        padding-top: 7.3rem;
      }
    }
  }
}

#sub-page {
  position: relative;
  #contents{
    background: #ffffff;
  }
  .boxIn-content {
    padding: 10rem 0;
    @include sp {
      padding: 8rem 0;
    };
  }
  .boxIn-text .txt01 {
    margin-bottom: 1.5rem;
  }

  .boxIn-content:nth-child(1) .boxIn-link {
    padding-right: 5rem;
  }
  .boxIn-content:nth-child(1) .boxIn-link.storeOl-link-item {
    padding-right: 3rem;
  }

  .boxIn-link {
    margin-left: auto;
  }

  .boxIn-text .btnwrap {
    margin-top: 3rem;
    @include sp {
      margin-top: 3.3rem;
    }
  }

  .boxIn-text .ttl-h2 {
    display: block;
    margin-bottom: 3rem;
    width: inherit;
    line-height: 1.63636;
  }

  .boxIn-content:nth-child(even) {
    background-color: inherit;
  }
  .boxIn-content .boxIn-text {
    @include sp {
      padding-top: 3.5rem;
    }
  }
}

.tech {
  // padding: 6.5rem 0;
  background: #ffffff;
  .container-boxIn {
    align-items: center;
    &:first-child{
      margin-bottom: 3.5rem;
      align-items: flex-start;
    }
    &:nth-child(2) {
      .boxIn-text {
        // margin-top: 11.1rem;
      }
    }
  }
  @include tb {
    .container-boxIn {
      width: 95.23809523809524%;
    }
    .boxIn-pic {
      width: 48%;
      img {
        width: 100%;
      }
    }
    .boxIn-text {
      width: 48%;
    }
  }
  @include sp {
    // padding: 4.5rem 0;
  }
}
.ttl-h2--1 {
  width: 100%;
  text-align: center;
  margin-bottom: 3.5rem;
}
.history {
  padding: 10rem 0;
  .ttl-h2--1 {
    // margin-bottom: 3.3rem;
  }
  .container-boxIn {
    // margin: 10rem 0 !important;
  }
  &-list {
    margin-bottom: 2.5rem;
    padding-left: 10.3rem;
    li {
      display: flex;
      position: relative;
      // border-left: 0.3rem dotted #697C8E;
      padding-bottom: 4rem;
      .ttl_h3 {
        margin-bottom: 0.3rem;
      }
      .txt {
        line-height: 1.5;
        font-size: 1.4rem;
      }
      &:last-child {
        padding-bottom: 0;
        &:before {
          height: 90%;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        background: #697c8e;
        border-radius: 5rem;
        left: 6.1rem;
        top: 0.9rem;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0.9rem;
        left: 6.5rem;
        width: 0.3rem;
        background-image: linear-gradient(
          to bottom,
          #697c8e 31%,
          rgba(255, 255, 255, 0) 0%
        );
        background-position: left;
        background-size: 0.2rem 0.8rem;
        background-repeat: repeat-y;
        height: 100%;
        border-radius: 1rem;
      }
    }
  }
  p.year {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    letter-spacing: 0.1em;
    margin-right: 5rem;
  }
  p.txt {
    span {
      color: #d88b83;
      font-weight: bold;
    }
  }
  .btnwrap {
    margin-right: 10rem;
  }
  @include sp {
    padding: 8rem 0;
    &-list {
      padding-left: 0.7rem;
      margin-bottom: 2.9rem;
      li {
        padding-bottom: 4rem;
        .txt {
          font-size: 1.4rem;
        }
        .ttl_h3 {
          margin-bottom: 0.5rem;
        }
      }
    }
    .ttl-h2--1 {
      margin-bottom: 3.4rem;
    }
    .ttl_h3 {
      line-height: 1.333;
    }
    .btnwrap {
      margin-right: 0;
    }
  }
}
