.contact {
  + .breadcrumb + .logoft {
    background: #d1d7dd;
  }
  &-list {
    display: flex;
    flex-direction: column;
  }
  &-item {
    display: flex;
    padding: 2.5rem 2rem 2.3rem;
    border-bottom: 1px solid #697c8e;
    &:nth-child(1) {
      border-top: 1px solid #697c8e;
    }
    .content-left {
      min-width: 20rem;
      font-weight: bold;
    }
    .content-right {
      min-width: 56rem;
      line-height: 2;
      margin-top: -0.7rem;
      .mail {
        transition: opacity 0.3s ease-in-out;
        color: #337ab7;
        &:hover {
          // opacity: 0.6;
          color: #23527c;
          text-decoration: underline;
        }
      }
    }
  }
  .txt {
    margin-bottom: 3.5rem;
    .br-b {
      border-bottom: 1px solid #697c8e;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  @include sp {
    &-list {
      display: flex;
      flex-direction: column;
    }
    &-content {
      width: 100%;
    }
    &-item {
      display: flex;
      flex-direction: column;
      padding: 2.5rem 2rem 2.3rem;
      border-bottom: 1px solid #697c8e;
      &:nth-child(1) {
        border-top: 1px solid #697c8e;
      }
      .content-left {
        min-width: 100%;
        margin-bottom: 1.3rem;
      }
      .content-right {
        min-width: 100%;
        margin-top: 0;
      }
    }
    .txt {
      margin-bottom: 3.1rem;
    }
  }
}
#sub-page {
  &.contact-form {
    + .breadcrumb + .logoft {
      background: #d1d7dd;
    }
    .boxIn-content {
      // padding-bottom: 0;
    }
  }
}
.contact-form {
  .txt {
    margin-bottom: 3.5rem;
  }
}
