@import "../base/mixin";
#main-page {
  .mainVisual {
    position: relative;
    &-wrapper {
      height: 100vh;
      min-height: 60rem;
      position: relative;
      width: 100%;
      margin-left: auto;
    }
    &-pic {
      height: 100%;
      margin-left: auto;
      overflow: hidden;
      position: fixed;
      z-index: -1;
      width: calc(100% - 15rem);
      @include sp {
        width: 100vw;
      }
      .swiper {
        height: 100%;
      }
      .item {
        display: block;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #263a4d;
          opacity: 0.3;
          z-index: 1;
          pointer-events: none;
        }
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: top center;
        }
      }
    }
    &-title {
      position: absolute;
      bottom: 5.6rem;
      z-index: 5;
      left: 6.6rem;
      display: flex;
      flex-direction: column;
      .en {
        font-family: $outfit;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #fff;
        font-size: 3.6rem;
        margin-bottom: 1rem;
      }
      .ja {
        font-family: $zenkaku;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #fff;
      }
      .txt01 {
        font-size: 3.6rem;
        margin-bottom: 4.2rem;
      }
      .txt02 {
        font-size: 1.8rem;
      }
    }

    @include sp {
      &-wrapper {
        height: calc(100vh - 8rem);
        min-height: auto;
      }
      &-pic {
        .item {
          img {
            object-position: center;
            @media (max-width: 768px) {
              // height: 90rem;
              // object-position: center 30px;
            }
          }
        }
      }
      &-title {
        left: 2.5rem;
        bottom: 3.5rem;

        .en {
          font-size: 2.4rem;
          margin-bottom: 0.5rem;
        }

        .txt01 {
          font-size: 2.4rem;
          margin-bottom: 3rem;
          line-height: 1.735;
        }

        .txt02 {
          font-size: 1.6rem;
        }
      }
    }
  }

  .boxIn {
    background: #ffffff;
    .container-boxIn {
      padding: 9rem 0 10rem;
    }

    &-text {
      padding-top: 6.5rem;

      .txt01 {
        margin-bottom: 1.7rem;
      }

      .ttl-h2 {
        display: block;
        margin-bottom: 3rem;
      }
      .btnwrap {
        margin-top: 2.5rem;
      }
    }

    &-link {
      margin-left: auto;
    }

    &-content {
      &:nth-child(1) {
        .boxIn-link {
          padding-right: 5rem;
        }
      }
      &:nth-child(2) {
        .boxIn-text {
          padding-top: 5.8rem;
        }
      }

      &:nth-child(3) {
        .container-boxIn {
          padding: 12.5rem 0 10rem;
        }
      }
    }
    @include tb {
      .boxIn-pic {
        width: 48%;
        img {
          width: 100%;
        }
      }
      .boxIn-text {
        width: 48%;
      }
    }

    @include sp {
      padding: 0 2.5rem;

      .container-boxIn {
        width: 100%;
        flex-direction: column;
        padding: 7rem 0 9rem;
      }

      &-pic {
        width: 100%;
      }

      &-text {
        width: 100%;
        padding-top: 3.6rem;

        .txt01 {
          margin-bottom: 1.5rem;
        }
      }

      &-content {
        &:nth-child(even) {
          margin-left: -2.5rem;
          margin-right: -2.5rem;
          padding: 0 2.5rem;
        }

        &:nth-child(2) {
          .boxIn-text {
            padding-top: 3.4rem;
          }
        }

        &:nth-child(3) {
          .container-boxIn {
            padding: 7rem 0 9rem;
          }
        }
      }
    }
  }

  .picUp {
    padding-top: 9.5rem;
    padding-bottom: 9.5rem;
    .ttl-h2 {
      &.en {
        margin: 0 auto 3rem;
      }
      margin: 0 auto 1.1rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: #697c8e;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
    &-text {
      text-align: center;
      margin-top: 3.8rem;
      .txt {
        font-size: 1.4rem;
        line-height: 1.5;
      }
    }
    .swiper {
      padding-bottom: 6rem;
    }
    .dots {
      .swiper-pagination-bullet-active {
        width: 0.8rem;
        background-color: #697c8e;
      }
      .swiper-pagination {
        display: flex;
        justify-content: center;
        column-gap: 0.8rem;
      }
    }
    .btnArrow {
      position: absolute;
      bottom: 10.5rem;
      left: 50%;
      width: 84%;
      transform: translateX(-50%);
      z-index: 9;
      .swiper-button-next,
      .swiper-button-prev {
        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.6;
        }
      }
      .swiper-button-next:after,
      .swiper-button-prev:after {
        content: "";
        background-image: url(../../assets/img/ico-arrow-left.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 1.4rem;
        height: 2.5rem;
      }
      .swiper-button-next:after {
        transform: scale(-1, 1);
      }
    }

    @include tb {
      .picUp-pic {
        img {
          width: 100%;
        }
      }
    }

    @include sp {
      padding: 7rem 0;

      &-text {
        padding: 0 2.5rem 0 3.5rem;
        margin-top: 2.9rem;
        position: relative;

        .txt {
          text-align: left;
        }
      }

      .ttl-h2 {
        margin: 0 auto 1.4rem;
      }

      .swiper {
        padding-bottom: 3.5rem;
      }

      .dots {
        .swiper-pagination-bullet-active {
          width: var(
            --swiper-pagination-bullet-width,
            var(--swiper-pagination-bullet-size, 8px)
          );
        }
      }

      .btnArrow {
        bottom: 10.5rem;
        top: auto;
        width: 100%;

        .swiper-button-next {
          right: -0.5rem;
        }
        .swiper-button-prev {
          left: -0.5rem;
        }
      }
    }
  }
  .news {
    padding-top: 9.9rem;
    padding-bottom: 9.5rem;
    background: #ffffff;
    .ttl-h2 {
      margin: 0 auto 3.6rem;
    }
    .btnwrap {
      margin-top: 2.7rem;
    }

    @include sp {
      padding: 7.6rem 0;

      &-item {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        .ttl_h3 {
          margin-bottom: 0.8rem;
          line-height: 1.4;
        }
      }
    }
  }
  .storeOl {
    padding-top: 10.3rem;
    padding-bottom: 9.5rem;
    .ttl-h2 {
      &.en {
        margin: 0 auto 3.5rem;
      }
    }
    &-list {
      padding-left: 0.5rem;
    }
    @include tb {
      .storeOl-link-item {
        &.wdImg {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }

    @include sp {
      padding-top: 8.4rem;
      padding-bottom: 7.8rem;

      .ttl-h2 {
        &.en {
          margin: 0 auto 3rem;
        }
      }

      &-list {
        flex-direction: column;
        row-gap: 5rem;
        column-gap: 0;
        padding-left: 0;
        margin: 0 auto;
        align-items: center;

        &-item {
          justify-content: center;
        }
      }

      &-link-item {
        &.wdImg {
          width: 73.85%;
        }
      }
    }
  }
}
