.information {
  .ttl-h2 {
    margin-bottom: 3.5rem;
  }

  .ttl_h3 {
    margin-bottom: 2rem;
  }

  .boxIn-content {
    padding: 10rem 0;
    @include sp {
      padding: 8rem 0;
    }
  }
  &.blog {
    .news {
      .ttl_h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        @include sp {
          font-size: 1.8rem;
        }
      }
    }
  }
  .news {
    .ttl_h3 {
      font-size: 2.4rem;
      @include sp {
        font-size: 2.2rem;
      }
    }
    .thumb {
      margin: 3.5rem 0;
      display: block;
      img {
        margin: 0 auto;
      }
    }
    &-details {
      border-top: solid 0.1rem #697c8e;
      border-bottom: solid 0.1rem #697c8e;
      padding: 3.5rem 0;
      margin-bottom: 4.5rem;
      .txt-link {
        display: block;
      }
    }
  }
  & + .breadcrumb + .logoft {
    background: #d1d7dd;
  }
  #tabs-nav {
    max-width: 45.8rem;
    margin: 0 auto 8.4rem;
    display: flex;
    column-gap: 3rem;

    li {
      width: auto;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -0.3rem;
        width: 0;
        height: 0.2rem;
        background: #697c8e;
        transition: width 0.3s ease-in-out;
      }

      .tab-link-item {
        background-color: transparent;
        font-size: 1.4rem;
        font-weight: bold;
        transition: opacity 0.3s ease-in-out;
        line-height: 1.5;
        height: 2.2rem;
        &:hover {
          opacity: 0.6;
        }
      }
      &.active {
        &::before {
          width: 100%;
        }
      }
    }
  }
  @include sp {
    #tabs-nav {
      max-width: 100%;
      margin: 0 auto 6rem;
      display: flex;
      column-gap: 3rem;
      row-gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 19rem;
  width: 100%;
  margin: 0 auto;
  a.prev,
  a.next {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
    &:after {
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      border-top: solid 0.1rem #697c8e;
      border-right: solid 0.1rem #697c8e;
    }
  }
  .prev:after {
    transform: rotate(-135deg);
  }
  .next:after {
    transform: rotate(45deg);
  }
  .back {
    font-family: $outfit;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  &.pagi-numb {
    column-gap: 1rem;
    max-width: 28.6rem;
    padding-top: 5.2rem;
  }
  .number {
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 0;
      height: 0.2rem;
      background: #697c8e;
      transition: width 0.3s ease-in-out;
    }

    &.active {
      &:before {
        width: 2.5rem;
      }
      &:hover {
        opacity: 1;
      }
    }
    &:hover {
      opacity: 0.6;
    }
  }
  .dots {
    cursor: no-drop;
  }
}
