.merit {
  padding-bottom: 10rem;
  @include sp {
    padding-bottom: 8rem;
  }

  .ttl-h2 {
    text-align: center;
    margin: 0 auto 3.4rem;
    @include sp {
      text-align: left;
    }
  }

  .container-merit {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    @include sp {
      padding: 0 2.5rem;
    }
  }

  &-list {
    display: flex;
    gap: 0 2rem;
    margin-bottom: -7rem;
    position: relative;
    top: -10.4rem;
    color: #ffffff;

    li {
      background: #697c8e;
      padding: 3rem;
      width: 33.33333%;
    }
    @include sp {
      flex-wrap: wrap;
      gap: 3.5rem;
      top: -0.3rem;
      margin-bottom: 3rem;

      li {
        width: 100%;
      }
    }
    @include tb {
      padding: 0 2rem;
    }

    .ttl_h3 {
      text-align: center;
      margin-bottom: 2rem;
    }

    p.txt {
      font-size: 1.4rem;
      text-align: justify;
    }
  }

  &-num {
    text-align: center;
    margin-bottom: 0.5rem;

    span {
      font-size: 1.2rem;
      position: relative;
      font-weight: bold;

      &:after {
        content: "";
        position: absolute;
        width: 0.1rem;
        height: 100%;
        background: #ffffff;
        transform: rotate(35deg);
        bottom: 0;
        right: -1rem;
      }

      &:before {
        content: "";
        position: absolute;
        width: 0.1rem;
        height: 100%;
        background: #ffffff;
        transform: rotate(-35deg);
        bottom: 0;
        left: -1rem;
      }
    }
  }

  &-wrap {
    padding: 0 10rem 10rem;
    @include sp {
      padding: 0 2.5rem 8rem;
    }
  }

  .btnwrap {
    text-align: center;
  }

  .btn-contact {
    background: #d88b83;
    color: #ffffff;
    border: solid 0.1rem #d88b83;
    transition: 0.3s ease-in-out;
    max-width: 50.8rem;
    height: 6.6rem;
    margin: 0 auto;
    width: 100%;

    &:hover {
      background: #ffffff;
      color: #d88b83;
    }
  }
}

.examples {
  background: #ffffff;

  .ttl-h2 {
    margin-bottom: 3.5rem;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 2rem;
    @include sp {
      gap: 0;
    }

    & > li {
      max-width: 32rem;
      width: calc(33.333333% - 8rem / 6);
      padding: 3rem;
      border-top: solid 0.1rem #697c8e;
      &.no-content {
        border-top: none;
      }
      @include sp {
        width: 100%;
        max-width: 100%;
      }
    }

    .ttl_h3 {
    }

    .thumb {
      margin: 1rem 0;

      img {
        margin: 0 auto;
        width: 100%;
        max-width: 10rem;
        &.w-200 {
          max-width: 20rem;
        }
        &.w-110 {
          @include pc {
            max-width: 11rem;
          }
        }
      }
    }

    ol {
      li {
        width: 100%;
        list-style: none;
        font-size: 1.4rem;
        // margin-left: 1.5rem;

        // &::marker {
        //   content: "・";
        //   font-size: 1.4rem;
        // }
      }
    }

    p.txt {
      font-size: 1.4rem;
    }
  }
}

.achievement {
  &-list {
    display: flex;
    gap: 2rem;
    margin-bottom: 3.5rem;
    flex-wrap: wrap;
    @include sp {
      gap: 3.5rem;
    }

    li {
      background: #ffffff;
      padding: 3rem;
      width: calc(33.333333% - 8rem / 6);
      max-width: 32rem;
      @include sp {
        width: 100%;
        max-width: 100%;
      }
    }

    .thumb {
      margin-bottom: 1.5rem;
    }

    p.txt {
      font-size: 1.4rem;
    }
  }
}

.steps {
  &-num {
    width: 8rem;
    height: 8rem;
    background: #697c8e;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-family: $outfit;
    border-radius: 5rem;

    span {
      display: block;
      font-size: 2.4rem;
      line-height: 1;
    }
  }
  &-content {
    padding-top: 0.5rem;
  }

  &-list {
    li {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      position: relative;
      padding-bottom: 4rem;
      z-index: 1;

      &:after {
        content: "";
        position: absolute;
        top: 0.9rem;
        left: 4rem;
        width: 0.3rem;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          #697c8e 31%,
          rgba(255, 255, 255, 0) 0%
        );
        background-position: left;
        background-size: 0.2rem 0.8rem;
        background-repeat: repeat-y;
        border-radius: 1rem;
        z-index: -1;
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
    p.txt {
      font-size: 1.4rem;
      span {
        color: #d88b83;
      }
    }
  }

  .ttl_h3 {
    margin-bottom: 0.5rem;
  }
}

.note-box {
  border: solid 0.2rem #697c8e;
  padding: 5rem 3rem;
  text-align: center;
  width: 100%;
  margin-top: 3.5rem;
  .ttl_h3 {
    color: #d88b83;
    margin-bottom: 3.5rem;
  }
  &-content {
    max-width: 60rem;
    margin: 0 auto;
    p.txt {
      @include sp {
        text-align: left;
      }
    }
  }
}
.tal-sp {
  @include sp {
    text-align: left !important;
  }
}
