#wrapper {
  @include sp {
    &.error {
      padding-top: 0;
    }
  }
}
#error-page {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100%;
  }
  .content {
    width: 51rem;
    min-height: 35rem;
    text-align: center;
    position: relative;
  }
  .ttl_cos_h1 {
    font-family: $outfit;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 0.75;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.6rem;
    .numb {
      font-size: 7.2rem;
      margin-bottom: 1.5rem;
    }
    .txt {
      font-size: 3rem;
    }
  }
  .txt {
    line-height: 1.5;
  }
  .btnwrap {
    display: flex;
    justify-content: center;
    margin-top: 5.6rem;
  }
  @include sp {
    .content {
      width: 100%;
    }
    .txt {
      text-align: left;
    }
  }
}
