.privacy {
  + .breadcrumb + .logoft {
    background: #d1d7dd;
  }
  &-list {
    display: flex;
    flex-direction: column;
  }
  &-item {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0 5rem;
    border-bottom: 1px solid #697c8e;
    &:nth-child(1) {
      border-top: 1px solid #697c8e;
    }
    &:last-child {
      border-bottom: none;
    }
    .ttl_pr_h2 {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 3.4rem;
    }
    .content-item {
      font-size: 1.4rem;
      line-height: 1.5;
      .txt {
        font-size: 1.4rem;
        line-height: 1.5;
        margin-bottom: 3.3rem;
      }
    }
  }
  .boxIn-content {
    padding-bottom: 2.2rem !important;
  }
  .txt {
    margin-bottom: 4.4rem;
  }
  .dot-list {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    padding-left: 0;
    line-height: 1.5;
    ul {
      margin-top: 0.7rem;
    }
  }
  .num-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    padding-left: 2rem;
    line-height: 1.5;
    ul {
      margin-top: 0.7rem;
    }
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mt-35 {
    margin-top: 3.5rem !important;
  }
  @include sp {
    &-list {
      display: flex;
      flex-direction: column;
    }
    &-item {
      display: flex;
      flex-direction: column;
      padding: 3.5rem 0 5rem;
      border-bottom: 1px solid #697c8e;
      &:nth-child(1) {
        border-top: 1px solid #697c8e;
      }
      &:last-child {
        border-bottom: none;
      }
      .ttl_pr_h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 3.4rem;
      }
      .content-item {
        font-size: 1.4rem;
        line-height: 1.5;
        .txt {
          font-size: 1.4rem;
          line-height: 1.5;
          margin-bottom: 3.3rem;
        }
      }
    }
    .boxIn-content {
      padding-bottom: 2.2rem !important;
      padding-top: 6rem !important;
    }
    .txt {
      margin-bottom: 4.4rem;
    }
    .dot-list {
      display: flex;
      flex-direction: column;
      row-gap: 0px;
      padding-left: 0;
      line-height: 1.5;
      ul {
        margin-top: 0.7rem;
      }
    }
    .num-list {
      display: flex;
      flex-direction: column;
      row-gap: 1.7rem;
      padding-left: 2rem;
      line-height: 1.5;
      ul {
        margin-top: 0.7rem;
      }
    }
    .mb-0 {
      margin-bottom: 0 !important;
    }
    .mt-35 {
      margin-top: 3.5rem !important;
    }
  }
}
