#sub-page {
  &.products-page {
    .boxIn {
      background: #ffffff;
      margin-top: -10.2rem;
      .container-boxIn {
        margin: 0 auto;
        // padding: 10rem 0;
        &.reverse {
          .boxIn-text {
            padding-top: 8.6rem;
          }
        }
      }
      &-text {
        text-align: center;
        padding-top: 5.5rem;
        .txt01 {
          &.st2 {
            background-color: transparent;
            color: #697c8e;
            margin: 0.8rem auto 2.6rem;
            font-weight: 400;
            font-size: 1.4rem;
          }
        }
        .logo-product {
          display: flex;
          justify-content: center;
        }
        .txt {
          font-size: 1.4rem;
          line-height: 1.5;
        }
        .btnwrap {
          margin-top: 2.6rem;
          .boxIn-link {
            padding-right: 4rem;
          }
          .ico-link {
            top: 1.2rem;
          }
        }
      }
    }
    .storeOl {
      padding-top: 9.8rem;
      padding-bottom: 9.5rem;
      .container-box832 {
        justify-content: center;
      }
      .ttl-h2 {
        text-align: center;
        &.en {
          margin: 0 auto 3.5rem;
        }
      }
      .ttl-sub {
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        margin-top: 3.4rem;
        margin-bottom: 3.4rem;
      }
      .wdicon {
        transform: translateX(-1rem);
      }
    }
  }
  @include tb {
    &.products-page {
      .boxIn {
        &-pic {
          width: 48%;
        }
        &-text {
          width: 48%;
        }
        .ttl-h2 {
          width: auto;
        }
      }
      .storeOl {
        .container-box832 {
          width: 79.23809523809524%;
        }
        .storeOl-link-item.wdImg {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .ttl-h2 {
          text-align: center;
          &.en {
            margin: 0 auto 3.5rem;
          }
        }
      }
    }
  }
  @include sp {
    &.products-page {
      .boxIn {
        background: #ffffff;
        margin-top: 0;
        padding: 0 2.5rem;
        &-content {
          margin-left: -2.5rem;
          margin-right: -2.5rem;
          padding: 0 2.5rem;
        }
        .container-boxIn {
          margin: 0 auto;
          padding: 7.7rem 0;
          &.reverse {
            padding-top: 8.1rem;
            .boxIn-text {
              padding-top: 3.7rem;
              .txt01 {
                &.st2 {
                  margin: 0.8rem auto 2.9rem;
                }
              }
              .logo-product {
                width: 80%;
              }
            }
          }
        }
        &-text {
          text-align: center;
          padding-top: 3.7rem;
          .txt01 {
            &.st2 {
              background-color: transparent;
              color: #697c8e;
              margin: 0.8rem auto 2.1rem;
              font-weight: 400;
            }
          }
          .logo-product {
            display: flex;
            justify-content: center;
            width: 45.857%;
            margin: 0 auto;
          }
          .txt {
            line-height: 1.7857;
            text-align: left;
          }
          .btnwrap {
            margin-top: 1.2rem;
            .boxIn-link {
              padding-right: 4rem;
            }
            .ico-link {
              top: 1.2rem;
            }
          }
          .ttl-h2 {
            text-align: left;
            line-height: 1.5;
            margin-bottom: 4.3rem;
          }
        }
      }
      .storeOl {
        padding-top: 8.3rem;
        padding-bottom: 7.6rem;
        .container-box832 {
          justify-content: center;
          width: 100%;
          padding: 0 2.5rem;
          flex-direction: column;
        }
        &-list {
          flex-direction: column;
          row-gap: 5rem;
          column-gap: 0;
          padding-left: 0;
          margin: 0 auto;
          align-items: center;
        }
        .ttl-h2 {
          text-align: left;
          &.en {
            margin: 0 auto 2.9rem;
          }
        }
        .ttl-sub {
          width: 100%;
          text-align: center;
          font-size: 1.4rem;
          margin-top: 3.4rem;
          margin-bottom: 3.4rem;
        }
        .wdicon {
          transform: translateX(-1rem);
        }
      }
    }
  }
}
