.recruit {
  .form-content {
    margin-top: 3.5rem;
  }
  .steps-content {
    @include pc {
      padding-top: 1.5rem;
    }
  }
  .boxIn-content {
    @include sp {
      padding-bottom: 4rem !important;
    }
  }
}
.staff {
  .ttl-h2 {
    text-align: center;
    margin: 0 auto 3.4rem;
    @include sp {
      text-align: left;
    }
  }

  .container-staff {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
  }

  &-list {
    display: flex;
    gap: 0 2rem;
    margin-bottom: 0;
    position: relative;
    top: -10.4rem;
    li {
      padding: 3rem;
      background: #f7e8e6;
    }
    .thumb {
      margin-bottom: 2rem;
    }
    .ttl_h3 {
      margin-bottom: 2rem;
    }
    p.txt {
      font-size: 1.4rem;
    }
    @include sp {
      flex-wrap: wrap;
      gap: 3.5rem;
      padding: 0 2.5rem;
      top: -0.3rem;
      margin-bottom: 3rem;
      li {
        width: 100%;
      }
    }
    @include tb {
      padding: 0 2rem;
    }
  }

  &-wrap {
    padding: 0 10rem 10rem;
    @include sp {
      padding: 0 2.5rem 8rem;
    }
  }
}
.table + .table-tag {
  margin-top: 14.2rem;
  @include sp {
    margin-top: 8.6rem;
  }
}
.table-tag {
  background: #697c8e;
  padding: 0.5rem;
  min-width: 5.4rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
}
