.m-auto {
  margin: 0 auto !important;
}

.mt00 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10rem !important;
}

.mt15 {
  margin-top: 15rem !important;
}

.mt20 {
  margin-top: 20rem !important;
}

.mt25 {
  margin-top: 25rem !important;
}

.mt30 {
  margin-top: 30rem !important;
}

.mt40 {
  margin-top: 40rem !important;
}

.mt50 {
  margin-top: 50rem !important;
}

.mt60 {
  margin-top: 60rem !important;
}

.mt70 {
  margin-top: 70rem !important;
}

.mt80 {
  margin-top: 80rem !important;
}

.mb00 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10rem !important;
}

.mb15 {
  margin-bottom: 15rem !important;
}

.mb20 {
  margin-bottom: 20rem !important;
}

.mb25 {
  margin-bottom: 25rem !important;
}

.mb30 {
  margin-bottom: 30rem !important;
}

.mb40 {
  margin-bottom: 40rem !important;
}

.mb50 {
  margin-bottom: 50rem !important;
}

.mb60 {
  margin-bottom: 60rem !important;
}

.mb70 {
  margin-bottom: 70rem !important;
}

.mb80 {
  margin-bottom: 80rem !important;
}
.pb0 {
  padding-bottom: 0 !important;
}

.wHalf {
  width: 50% !important;
}

.wTri {
  width: 33% !important;
}

.wQuart {
  width: 25% !important;
}

.wFull {
  width: 100% !important;
}

.mh-auto {
  min-height: auto !important;
}

.poR {
  position: relative !important;
}

.poS {
  position: static !important;
}

.ofH {
  overflow: hidden !important;
}

.ofV {
  overflow: visible !important;
}

.dB {
  display: block !important;
}

.dI {
  display: inline !important;
}

.dIb {
  display: inline-block !important;
}

.taR {
  text-align: right !important;
}

.taC {
  text-align: center !important;
}

.taL {
  text-align: left !important;
}

.taJ {
  text-align: justify !important;
}

.flL {
  float: left !important;
}

.flR {
  float: right !important;
}

.flN {
  float: none !important;
}

.clB {
  clear: both !important;
}

.flImgL {
  float: left;
  margin: 10rem 55rem 20rem 0;
}

.flImgR {
  float: right;
  margin: 10rem 0 20rem 55rem;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.bg-f7f8f9 {
  background-color: #f7f8f9 !important;
}
@-webkit-keyframes secHover {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 102%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secHover {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 102%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 1rem;
    opacity: 0;
  }
  70% {
    height: 16.2rem;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 20.8rem;
    opacity: 0;
  }
}

@keyframes sp-pathmove {
  0% {
    height: 0;
    top: 27.2rem;
    opacity: 0;
  }
  30% {
    height: 14rem;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 47.2rem;
    opacity: 0;
  }
}
