/* variable
-------------------------------------------------------------------------------------------------------------------- */
$duration: 0.3s;

/* mixin
-------------------------------------------------------------------------------------------------------------------- */
$break01: 959px;

@mixin sp {
  @media (max-width: $break01) {
    @content;
  }
}

@mixin pc {
  @media (min-width: $break01 + 1) {
    @content;
  }
}
@mixin tb {
  @media (min-width: 960px) and (max-width: 1199px) {
    @content;
  }
}
@mixin retina {
  @media (min-width: $break01 + 1) and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin ie {
  @at-root _:-ms-input-placeholder,
    :root & {
    @content;
  }
}

@mixin container {
  &:after,
  > p:after {
    content: "";
    display: block;
    clear: both;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

@mixin deco {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-gothic {
  font-family: "Yu Gothic", "游ゴシック体", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", sans-serif;
}

@mixin font-mincho {
  font-family: "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho",
    serif;
}

@mixin webfont-ja01 {
}

@mixin webfont-en01 {
}

$outfit: "Outfit", sans-serif;
$zenkaku: "Zen Kaku Gothic New", sans-serif;
