@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: bottom;
}

.m-auto {
  margin: 0 auto !important;
}

.mt00 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10rem !important;
}

.mt15 {
  margin-top: 15rem !important;
}

.mt20 {
  margin-top: 20rem !important;
}

.mt25 {
  margin-top: 25rem !important;
}

.mt30 {
  margin-top: 30rem !important;
}

.mt40 {
  margin-top: 40rem !important;
}

.mt50 {
  margin-top: 50rem !important;
}

.mt60 {
  margin-top: 60rem !important;
}

.mt70 {
  margin-top: 70rem !important;
}

.mt80 {
  margin-top: 80rem !important;
}

.mb00 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10rem !important;
}

.mb15 {
  margin-bottom: 15rem !important;
}

.mb20 {
  margin-bottom: 20rem !important;
}

.mb25 {
  margin-bottom: 25rem !important;
}

.mb30 {
  margin-bottom: 30rem !important;
}

.mb40 {
  margin-bottom: 40rem !important;
}

.mb50 {
  margin-bottom: 50rem !important;
}

.mb60 {
  margin-bottom: 60rem !important;
}

.mb70 {
  margin-bottom: 70rem !important;
}

.mb80 {
  margin-bottom: 80rem !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.wHalf {
  width: 50% !important;
}

.wTri {
  width: 33% !important;
}

.wQuart {
  width: 25% !important;
}

.wFull {
  width: 100% !important;
}

.mh-auto {
  min-height: auto !important;
}

.poR {
  position: relative !important;
}

.poS {
  position: static !important;
}

.ofH {
  overflow: hidden !important;
}

.ofV {
  overflow: visible !important;
}

.dB {
  display: block !important;
}

.dI {
  display: inline !important;
}

.dIb {
  display: inline-block !important;
}

.taR {
  text-align: right !important;
}

.taC {
  text-align: center !important;
}

.taL {
  text-align: left !important;
}

.taJ {
  text-align: justify !important;
}

.flL {
  float: left !important;
}

.flR {
  float: right !important;
}

.flN {
  float: none !important;
}

.clB {
  clear: both !important;
}

.flImgL {
  float: left;
  margin: 10rem 55rem 20rem 0;
}

.flImgR {
  float: right;
  margin: 10rem 0 20rem 55rem;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.bg-f7f8f9 {
  background-color: #f7f8f9 !important;
}
@keyframes secHover {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 102%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 1rem;
    opacity: 0;
  }
  70% {
    height: 16.2rem;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 20.8rem;
    opacity: 0;
  }
}
@keyframes sp-pathmove {
  0% {
    height: 0;
    top: 27.2rem;
    opacity: 0;
  }
  30% {
    height: 14rem;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 47.2rem;
    opacity: 0;
  }
}
/* variable
-------------------------------------------------------------------------------------------------------------------- */
/* mixin
-------------------------------------------------------------------------------------------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

@media (max-width: 375px) {
  html {
    font-size: 2.6666666667vw;
  }
}
@media screen and (min-width: 960px) {
  .onlySP {
    display: none !important;
  }
}
@media screen and (max-width: 959px) {
  .onlyPC {
    display: none !important;
  }
}
body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #697c8e;
}

picture {
  display: flex;
}

a {
  text-decoration: none;
  color: #697c8e;
}

.w-full {
  width: 100% !important;
}

a.link-hover {
  transition: color 0.3s ease-in-out;
}
a.link-hover:hover {
  color: #f1994f;
}

.bold {
  font-weight: bold;
}

button {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

a[href^="tel:"] {
  cursor: default;
}

.txt-underline {
  text-decoration: underline !important;
}

/* wrapper
=====================================================================*/
#wrapper {
  overflow: hidden;
  position: relative;
  padding-left: 15rem;
}
@media (max-width: 959px) {
  #wrapper {
    max-width: 96rem;
    padding-top: 8rem;
    padding-left: 0;
  }
  #wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 200vh;
    width: 100%;
    background: #fff;
  }
}
#wrapper .bottom {
  z-index: 11;
  position: relative;
}

@media (max-width: 959px) {
  html.disableScroll,
  html.disableScroll body {
    overflow: hidden;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    width: 100%;
  }
}
/* container
=====================================================================*/
.container {
  max-width: 121.6rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
@media (max-width: 959px) {
  .container {
    max-width: 100%;
    padding: 0 2.5rem;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
.overlay.open {
  pointer-events: auto;
  z-index: 994;
}

.txt {
  font-size: 1.6rem;
  line-height: 1.75;
}

.u_anime-fadeUp {
  transform: translateY(30px);
  opacity: 0;
  transition: opacity 1.6s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.u_anime-fadeUp.show {
  opacity: 1;
  transform: translateY(0);
}

.breadcrumb {
  padding: 4.7rem 5rem 4.2rem;
  background: #ffffff;
}
@media (max-width: 959px) {
  .breadcrumb {
    padding: 4.2rem 2.5rem;
  }
}
.breadcrumb ul li {
  font-size: 1.1rem;
  display: inline;
}
.breadcrumb ul li a {
  position: relative;
  padding-right: 1.3rem;
  margin-right: 1.3rem;
  transition: opacity 0.3s ease-in-out;
}
.breadcrumb ul li a:hover {
  opacity: 0.6;
}
.breadcrumb ul li a:after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-top: solid 0.1rem #697c8e;
  border-left: solid 0.1rem #697c8e;
  transform: rotate(135deg);
  right: 0;
  top: 0.5rem;
}
.breadcrumb ul li span {
  font-weight: bold;
}

.ico-link {
  position: absolute;
  top: 0.5rem;
  right: 0;
  background-image: url(../../assets/img/ico-externallink.svg);
  width: 1.2rem;
  height: 1.2rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.reg {
  vertical-align: top;
  font-size: 1rem;
}

.txt-link {
  text-decoration: underline;
  margin-bottom: 3.5rem;
  transition: opacity 0.3s ease-in-out;
}
.txt-link:hover {
  opacity: 0.6;
}

.cs_hide {
  opacity: 0;
  pointer-events: none;
}

.txt-link_noLine {
  transition: opacity 0.3s ease-in-out;
  color: #337ab7;
}
.txt-link_noLine:hover {
  color: #23527c;
  text-decoration: underline;
}

.logoft {
  height: 30.5rem;
  width: 100%;
  position: relative;
}
.logoft.show .plx-img {
  opacity: 1;
  z-index: -1;
}
.logoft.showbg .plx-img {
  background: #fff !important;
  z-index: -1;
  opacity: 1;
}
.logoft .plx-img {
  display: block;
  position: fixed;
  opacity: 0;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25rem;
  z-index: -2;
}
.logoft .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 959px) {
  .logoft {
    height: 30rem;
  }
  .logoft.showbg .plx-img {
    background: #fff !important;
    z-index: -1;
    opacity: 1;
  }
  .logoft .plx-img {
    left: -50%;
    height: 20rem;
  }
  .logoft .logo > a {
    display: flex;
    width: auto;
    height: 37.5%;
  }
}

.footer {
  background-color: #d88b83;
  padding-top: 9.7rem;
  padding-bottom: 5rem;
}
.footer .ttl-contact {
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.1em;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}
.footer .btnwrap {
  display: flex;
  justify-content: center;
}
.footer .bottom {
  width: 111.6rem;
  margin: 5rem auto 4rem;
  display: flex;
  justify-content: space-between;
}
.footer .bottom-infor {
  width: 31.2rem;
}
.footer .bottom-ttl {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin-bottom: 1.5rem;
}
.footer .bottom-ttl_h4 {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-bottom: 0.8rem;
  margin-bottom: 2.2rem;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.footer .bottom-ttl_h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.footer .bottom .address {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.5;
  text-decoration: none;
}
.footer .bottom .address a[href^="tel:"] {
  text-decoration: none;
  color: inherit;
}
.footer .bottom-link {
  display: flex;
  width: 67rem;
  justify-content: space-between;
}
.footer .bottom-link-menu:nth-child(1) {
  width: 40rem;
}
.footer .bottom-link-menu:nth-child(2) {
  width: 20rem;
}
.footer .bottom .list-link {
  display: flex;
  justify-content: space-between;
}
.footer .bottom .list-link ul {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  row-gap: 1.4rem;
}
.footer .bottom-link-item {
  color: #fff;
  font-size: 1.3rem;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  display: block;
}
.footer .bottom-link-item.wdicon > span {
  position: relative;
  display: inline-block;
  padding-right: 2.1rem;
}
.footer .bottom-link-item.wdicon > span::before {
  position: absolute;
  content: "";
  top: 0.6rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-image: url(../../assets/img/ico-ft-externallink.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .bottom-link-item:hover {
  opacity: 0.6;
}
.footer .bottom .link-social {
  position: absolute;
  right: 0;
  bottom: -1rem;
}
.footer .bottom .link-social ul {
  display: flex;
  column-gap: 1.2rem;
}
.footer .copyRight {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
}
@media (min-width: 960px) and (max-width: 1299px) {
  .footer .bottom {
    width: 97.0434782609%;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .footer .bottom-infor {
    width: 30.6784660767%;
  }
  .footer .bottom .bottom-link {
    width: 65.8800393314%;
  }
  .footer .bottom .bottom-link-menu:nth-child(1) {
    width: 59.7014925373%;
  }
  .footer .bottom .bottom-link-menu:nth-child(2) {
    width: 29.8507462687%;
  }
  .footer .bottom .list-link ul {
    min-width: auto;
  }
}
@media (max-width: 959px) {
  .footer {
    padding: 6.6rem 2.5rem 5rem;
    position: relative;
    z-index: 6;
  }
  .footer .container-ft {
    position: relative;
    z-index: 1;
  }
  .footer .bottom {
    width: 100%;
    margin: 5rem auto;
    flex-direction: column;
  }
  .footer .bottom-infor {
    width: 100%;
    margin-bottom: 4.8rem;
  }
  .footer .bottom-link {
    width: 100%;
    flex-direction: column;
  }
  .footer .bottom-link-menu {
    margin-bottom: 5rem;
  }
  .footer .bottom-link-menu:nth-child(1), .footer .bottom-link-menu:nth-child(2) {
    width: 100%;
  }
  .footer .bottom-link-menu:last-child {
    margin-bottom: 0;
  }
  .footer .bottom .list-link {
    justify-content: flex-start;
  }
  .footer .bottom .list-link ul {
    min-width: 51.538462%;
  }
  .footer .bottom .link-social {
    position: relative;
    margin-top: 5rem;
    bottom: 0;
  }
}

.gnavi {
  width: 30rem;
  position: fixed;
  top: 0;
  z-index: 995;
  left: -56rem;
  height: 100%;
  background: #fff;
  pointer-events: none;
  transition: left 0.4s ease;
}
.gnavi.open {
  left: 15rem;
  pointer-events: auto;
}
.gnavi .nav {
  height: 100%;
}
.gnavi .gnavi-list {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  height: 100%;
}
.gnavi .gnavi-list .gnavi-link {
  color: #697c8e;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2;
  transition: opacity 0.3s ease-out;
  display: block;
}
.gnavi .gnavi-list .gnavi-link:hover {
  opacity: 0.6;
}
@media (max-width: 959px) {
  .gnavi {
    width: 100%;
    left: auto;
    right: -100%;
    transition: right 0.4s ease;
  }
  .gnavi.open {
    left: auto;
    right: 0;
  }
  .gnavi .gnavi-list {
    padding: 0 2.5rem;
    align-items: center;
  }
}

#header {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 100vh;
  width: 15rem;
  align-items: center;
  min-height: 60rem;
  z-index: 999;
}
#header .container-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}
#header .main {
  margin-top: 2.5rem;
}
#header .main .logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .main .logo span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 2.7rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
@media (max-width: 959px) {
  #header {
    width: 100%;
    height: 8rem;
    min-height: 8rem;
    padding: 0;
  }
  #header .container-header {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  #header .main {
    margin-top: 0;
  }
  #header .main .logo {
    padding: 1.5rem;
  }
  #header .main .logo-item {
    flex-direction: row;
  }
  #header .main .logo-item span {
    writing-mode: inherit;
    text-orientation: inherit;
    margin-top: 0;
    margin-left: 1.5rem;
  }
  #header .main .logo img {
    width: 4rem;
  }
}

#menuBtn {
  position: relative;
  height: 7rem;
  width: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: -8.3rem;
}
#menuBtn .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#menuBtn .inner_icon {
  width: 2rem;
  height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
#menuBtn .inner_icon-line {
  background-color: #697c8e;
  display: block;
  height: 0.1rem;
  width: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, 0.3s ease-in-out;
}
#menuBtn .inner_icon-line:nth-child(2) {
  transform: translateY(0.5rem);
}
#menuBtn .inner_name {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  line-height: 1;
  color: #697c8e;
}
#menuBtn.open .inner_icon-line:nth-child(1) {
  transform: translateY(1px) rotate(45deg);
}
#menuBtn.open .inner_icon-line:nth-child(2) {
  transform: translateY(0) rotate(135deg);
}
@media (max-width: 959px) {
  #menuBtn {
    margin-top: 0;
    position: fixed;
    top: 0.5rem;
    right: 0;
  }
}

.scrollDown {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding-bottom: 17rem;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.scrollDown.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.scrollDown-txt {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  color: #697c8e;
  writing-mode: vertical-rl;
}
.scrollDown::after {
  content: "";
  position: absolute;
  height: 16.2rem;
  width: 1px;
  background-color: #697c8e;
  top: 1rem;
  left: 49%;
  transform: translateX(-50%);
  opacity: 0;
  animation: pathmove 2s ease-in-out infinite;
}

.boxIn-content:nth-child(even) {
  background-color: #f7f8f9;
}
.boxIn-pic {
  max-width: 48rem;
  width: 100%;
}
.boxIn-text {
  max-width: 48rem;
  width: 100%;
}
.boxIn-text .txt01 {
  min-height: 2.7rem;
  padding: 0.5rem 1.5rem 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #697c8e;
  font-size: 1.2rem;
  font-weight: bold;
  width: max-content;
}
@media (max-width: 959px) {
  .boxIn-pic, .boxIn-text {
    max-width: 100%;
  }
}

.container-boxIn,
.container-box8,
.container-box832 {
  display: flex;
  justify-content: space-between;
  width: 100rem;
  margin: 0 auto;
  flex-wrap: wrap;
}
.container-boxIn.reverse,
.container-box8.reverse,
.container-box832.reverse {
  flex-direction: row-reverse;
}
@media (max-width: 959px) {
  .container-boxIn,
  .container-box8,
  .container-box832 {
    width: 100%;
    padding: 0 2.5rem;
  }
}

.container-box8 {
  width: 80rem;
}
@media (max-width: 959px) {
  .container-box8 {
    width: 100%;
    padding: 0 2.5rem;
  }
}

.container-box832 {
  width: 83.2rem;
}
@media (max-width: 959px) {
  .container-box832 {
    width: 100%;
    padding: 0 2.5rem;
    flex-direction: column;
  }
}

@media (min-width: 960px) and (max-width: 1199px) {
  .container-boxIn {
    width: 95.2380952381%;
  }
  .container-box8 {
    width: 76.1904761905%;
  }
  .container-box832 {
    width: 79.2380952381%;
  }
}
.boxIn-link {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  padding-right: 4.5rem;
  width: max-content;
  min-height: 3.8rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.boxIn-link .ico {
  position: absolute;
  top: 1.6rem;
  right: 0.2rem;
  background-image: url("../../assets/img/ico-arrow.svg");
  width: 2rem;
  height: 0.4rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.boxIn-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  background: #697c8e;
}
.boxIn-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -200%;
  width: 0%;
  height: 0.2rem;
  background: #697c8e;
  z-index: -1;
}
.boxIn-link:hover:before {
  z-index: 1;
  left: 100%;
  transition: 0.4s ease-in-out;
}
.boxIn-link:hover:after {
  z-index: 1;
  left: 0;
  width: 100%;
  transition: 0.8s ease-in-out;
}

.btn-contact {
  width: 48rem;
  height: 8rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 0.2rem solid #fff;
  color: #d88b83;
  border-radius: 50px;
  background-color: #fff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn-contact .txtCt {
  padding-left: 1.4rem;
}
.btn-contact .ico {
  position: relative;
  width: 2.4rem;
  height: 2rem;
}
.btn-contact .ico img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
.btn-contact .ico img:nth-child(2) {
  opacity: 0;
}
.btn-contact:hover {
  color: #fff;
  background-color: #d88b83;
}
.btn-contact:hover .ico img:nth-child(1) {
  opacity: 0;
}
.btn-contact:hover .ico img:nth-child(2) {
  opacity: 1;
}
@media (max-width: 959px) {
  .btn-contact {
    font-size: 1.4rem;
    width: 32.5rem;
    height: 6rem;
  }
  .btn-contact .txtCt {
    padding-left: 1.2rem;
  }
  .btn-contact .ico {
    width: 2rem;
    height: 1.6rem;
  }
}

.frm__group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.frm__group .frm__tit {
  min-width: 20rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 1rem;
}
.frm__group .frm__tit span {
  background-color: #d88b83;
  width: 4.8rem;
  height: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.frm__group .frm__tit span.off {
  background-color: #a6b6c4;
}
.frm__group .frm-control {
  width: calc(100% - 20rem);
}
.frm__group #agree_check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.frm__group input,
.frm__group select,
.frm__group textarea {
  padding: 1.6rem 2rem;
  width: 100%;
  outline: none;
  color: #181818;
  font-size: 1.6rem;
  background-color: #f7f8f9;
  border-radius: 0.6rem;
  border: none;
  resize: none;
}
.frm__group input::placeholder,
.frm__group textarea::placeholder {
  color: #a6b6c4;
  font-weight: 400;
  font-size: 1.6rem;
}
.frm__group select {
  appearance: none;
  background-image: url("/assets/img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 0.7rem);
  background-position-y: 50%;
}
.frm__group select:required:invalid {
  color: #a6b6c4;
  font-weight: 400;
  font-size: 1.6rem;
}
.frm__group option[value=""][disabled] {
  display: none;
}
.frm__group option {
  color: #181818;
}
.frm__group input[type=radio] {
  width: inherit;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.frm__group input[type=radio]:checked ~ .checkmark {
  background-color: #ffffff;
}
.frm__group input[type=radio]:checked ~ .checkmark:after {
  display: block;
}
.frm__group .wpcf7-form-control-wrap {
  display: flex;
  align-items: center;
}
.frm__group .wpcf7-form-control-wrap label {
  margin-right: 4rem;
  padding-left: 2.5rem;
  position: relative;
}
.frm__group .wpcf7-form-control-wrap label:last-child {
  margin-right: 0;
}
.frm__group .checkmark {
  position: absolute;
  top: 0.3rem;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #ffffff;
  border-radius: 50%;
  border: solid 0.1rem #697C8E;
}
.frm__group .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 0.4rem;
  left: 0.4rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #697C8E;
}
.frm__group.constraint {
  width: 27rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: 5rem;
}
.frm__group .select-time select {
  max-width: 12rem;
}
.frm__group .select-time select + .form-ctrl_txt {
  margin: 0 0.8rem;
}
@media (max-width: 959px) {
  .frm__group .select-time {
    flex-direction: column;
    align-items: flex-start;
  }
}
.frm__group .select-time .select-box {
  display: flex;
  align-items: center;
  width: 33.333333%;
}
@media (max-width: 959px) {
  .frm__group .select-time .select-box {
    width: 50%;
    margin-bottom: 2rem;
  }
}
.frm__group .wpcf7-list-item-label {
  height: 2rem;
  width: 2rem;
  border: 1px solid #697c8e;
  display: block;
  position: relative;
  margin-right: 1rem;
  background-color: #fff;
  cursor: pointer;
  margin-top: 0.7rem;
  overflow: hidden;
}
.frm__group .wpcf7-list-item-label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}
.frm__group .wpcf7-list-item-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("../../assets/img/ico_checked.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.frm__group .ckbPrivacy input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}
.frm__group .ckbPrivacy input:checked ~ .wpcf7-list-item-label:before {
  width: 0;
  left: auto;
  right: 0;
}
.frm__group .form-ctrl_txt a {
  border-bottom: 1px solid #697c8e;
  transition: opacity 0.3s ease-in-out;
}
.frm__group .form-ctrl_txt a:hover {
  opacity: 0.7;
}
@media (max-width: 959px) {
  .frm__group {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .frm__group .frm__tit {
    min-width: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1.6rem;
  }
  .frm__group .frm__tit span {
    background-color: #d88b83;
    width: 4.8rem;
    height: 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  .frm__group .frm__tit span.off {
    background-color: #a6b6c4;
  }
  .frm__group .frm-control {
    width: 100%;
  }
  .frm__group #agree_check {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .frm__group input,
  .frm__group textarea {
    padding: 1.6rem 2rem;
    width: 100%;
    outline: none;
    color: #181818;
    font-size: 1.6rem;
    background-color: #f7f8f9;
    border-radius: 0.6rem;
    border: none;
  }
}
@media (max-width: 959px) and (max-width: 959px) {
  .frm__group input,
  .frm__group textarea {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 959px) {
  .frm__group input::placeholder,
  .frm__group textarea::placeholder {
    color: #a6b6c4;
    font-weight: 400;
    font-size: 1.6rem;
  }
}
@media (max-width: 959px) {
  .frm__group.constraint {
    width: 27rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5rem;
  }
}
@media (max-width: 959px) {
  .frm__group .wpcf7-list-item-label {
    height: 2rem;
    width: 2rem;
    border: 1px solid #697c8e;
    display: block;
    position: relative;
    margin-right: 1rem;
    background-color: #fff;
    cursor: pointer;
    margin-top: 0.7rem;
    overflow: hidden;
  }
  .frm__group .wpcf7-list-item-label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: width 0.3s ease-in-out;
  }
  .frm__group .wpcf7-list-item-label::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.2rem;
    left: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("../../assets/img/ico_checked.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 959px) {
  .frm__group .ckbPrivacy input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
  }
}
@media (max-width: 959px) {
  .frm__group .ckbPrivacy input:checked ~ .wpcf7-list-item-label:before {
    width: 0;
    left: auto;
    right: 0;
  }
}
@media (max-width: 959px) {
  .frm__group .form-ctrl_txt a {
    border-bottom: 1px solid #697c8e;
    transition: opacity 0.3s ease-in-out;
  }
  .frm__group .form-ctrl_txt a:hover {
    opacity: 0.7;
  }
}

.frmBtn-link {
  width: 32.2rem;
  height: 6.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.8rem;
  border-radius: 4rem;
  text-transform: uppercase;
  position: relative;
  padding-left: 2.5rem;
  border: 2px solid #d88b83;
  overflow: hidden;
  cursor: pointer;
  background-color: #d88b83;
  z-index: 4;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.frmBtn-link:hover {
  color: #d88b83;
  background-color: #fff;
}
.frmBtn-link:hover .ico img:nth-child(1) {
  opacity: 0;
}
.frmBtn-link:hover .ico img:nth-child(2) {
  opacity: 1;
}
.frmBtn-link .ico {
  position: relative;
  width: 1.7rem;
  height: 1.7rem;
}
.frmBtn-link .ico img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
.frmBtn-link .ico img:nth-child(2) {
  opacity: 0;
}
.frmBtn-link .text {
  padding-left: 2.4rem;
}

/* variable
-------------------------------------------------------------------------------------------------------------------- */
/* mixin
-------------------------------------------------------------------------------------------------------------------- */
.news-content {
  width: 100%;
}
.news-item {
  position: relative;
  padding-bottom: 2.6rem;
  margin-bottom: 2.2rem;
}
.news-item:last-child {
  margin-bottom: 0;
}
.news-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #697c8e;
}
.news-item .ttl_h3 {
  margin-bottom: 0.2rem;
}
.news-item .txt {
  font-size: 1.4rem;
  line-height: 1.5;
}
.news .news-link-item {
  transition: opacity 0.3s ease-in-out;
}
.news .news-link-item:hover {
  opacity: 0.6;
}
.news .time-cat {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.news .time-cat .time {
  font-family: "Outfit", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  position: relative;
  padding-right: 1.4rem;
  margin-right: 1rem;
}
.news .time-cat .time::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 1px;
  height: 1.5rem;
  background-color: #697c8e;
}
.news .time-cat .cat {
  font-size: 1.1rem;
  font-weight: bold;
}

.storeOl-list {
  display: flex;
  column-gap: 5rem;
}
.storeOl-list-item {
  display: flex;
  align-items: center;
}
.storeOl-link-item {
  display: flex;
  align-items: center;
  position: relative;
}
.storeOl-link-item.noImg {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  min-width: 10.1rem;
  width: max-content;
  min-height: 1.9rem;
  display: flex;
  padding-bottom: 1rem;
  overflow: hidden;
}
.storeOl-link-item.noImg .ico-link {
  position: absolute;
  top: 0.5rem;
  right: 0;
  background-image: url("../../assets/img/ico-externallink.svg");
  width: 1.2rem;
  height: 1.2rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.storeOl-link-item.noImg::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  background: #697c8e;
}
.storeOl-link-item.noImg::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -200%;
  width: 0%;
  height: 0.2rem;
  background: #697c8e;
  z-index: -1;
}
.storeOl-link-item.noImg:hover:before {
  z-index: 1;
  left: 100%;
  transition: 0.4s ease-in-out;
}
.storeOl-link-item.noImg:hover:after {
  z-index: 1;
  left: 0;
  width: 100%;
  transition: 0.8s ease-in-out;
}
.storeOl-link-item.wdImg {
  width: 24rem;
}
.storeOl-link-item.wdImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-color: #fff;
}
.storeOl-link-item:hover.wdImg::before {
  opacity: 0.4;
}
.our-brand-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 124, 143, 0.8);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s ease-in-out 0.3s, opacity 0.3s 0s, transform 0.3s;
  z-index: 999;
}
.our-brand-modal.is-visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s ease-in-out 0s, opacity 0.3s 0s, transform 0.3s;
}
.our-brand-modal.is-visible .overlay_popup {
  z-index: 996 !important;
  pointer-events: auto !important;
}
.our-brand-modal .overlay_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  cursor: pointer;
  pointer-events: none;
}
.our-brand-modal #video-modal-iframe {
  width: 100%;
  height: 100%;
}
.our-brand-modal .content {
  width: 43vw;
  height: 24.1875vw;
  min-width: 82rem;
  min-height: 46rem;
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  top: 50%;
  left: 50%;
  z-index: 998;
  transform: translateX(-50%) translateY(-50%);
}
.our-brand-modal .icon_close {
  width: 2rem;
  height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  position: absolute;
  top: 0.8rem;
  right: -3.5rem;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: none;
}
.our-brand-modal .icon_close .icon-line {
  background-color: #fff;
  display: block;
  height: 0.1rem;
  width: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, 0.3s ease-in-out;
}
.our-brand-modal .icon_close .icon-line:nth-child(1) {
  transform: translateY(1px) rotate(45deg);
}
.our-brand-modal .icon_close .icon-line:nth-child(2) {
  transform: translateY(0) rotate(135deg);
}
@media (max-width: 959px) {
  .our-brand-modal .content {
    width: 95vw;
    height: 53.4375vw;
    margin-left: 0;
    margin-top: 0;
    transform: translateX(-50%) translateY(-50%);
    min-width: auto;
    min-height: auto;
  }
  .our-brand-modal .icon_close {
    top: -1.5rem;
    right: -1rem;
  }
}

#tabs-nav {
  display: flex;
}
@media (max-width: 959px) {
  #tabs-nav {
    width: 100%;
  }
}
#tabs-nav li {
  width: 20rem;
}
#tabs-nav li .tab-link-item {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.7rem;
  background-color: rgba(105, 124, 142, 0.1019607843);
  color: #697c8e;
  font-size: 1.8rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}
@media (max-width: 959px) {
  #tabs-nav li {
    width: 50%;
  }
}
#tabs-nav li.active .tab-link-item, #tabs-nav li:hover .tab-link-item {
  background-color: #fff;
}

.ttl-h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
  display: block;
  position: relative;
  width: max-content;
  margin-bottom: 3.5rem;
}
.ttl-h2.en {
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.1em;
}
.ttl-h2.wdicon {
  padding-left: 3.8rem;
}
.ttl-h2.wdicon::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
  width: 2rem;
  height: 2.3rem;
  background-image: url(../../assets/img/ico-onlinestore.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 960px) and (max-width: 1199px) {
  .ttl-h2 {
    width: auto;
  }
}
@media (max-width: 959px) {
  .ttl-h2 {
    font-size: 2.2rem;
    width: auto;
  }
}

.ttl_h3 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
}

.ttl_ctFrom_h1 {
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: center;
  width: 100%;
}

#wrapper.comingsoon {
  padding-left: 0;
}
@media (max-width: 959px) {
  #wrapper.comingsoon {
    padding-top: 0;
  }
}

.comingsoon .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 100%;
}
.comingsoon .content {
  width: 65rem;
  min-height: 40rem;
  text-align: center;
  position: relative;
}
.comingsoon .ttl_cos_h1 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1.4rem;
}
.comingsoon .ttl_cos_h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}
.comingsoon .txt {
  margin-bottom: 5.7rem;
  line-height: 1.5;
}
.comingsoon .txt-small {
  font-size: 1.4rem;
  margin-bottom: 6.3rem;
}
.comingsoon .br-top {
  padding-top: 4rem;
  position: relative;
}
.comingsoon .br-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #697c8e;
}
@media (max-width: 959px) {
  .comingsoon .container {
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100%;
    overflow: auto;
  }
  .comingsoon .content {
    width: 100%;
    min-height: auto;
    text-align: center;
    position: relative;
  }
  .comingsoon .ttl_cos_h1 {
    margin-bottom: 4.7rem;
  }
  .comingsoon .ttl_cos_h2 {
    font-size: 1.8rem;
    white-space: nowrap;
  }
  .comingsoon .txt {
    margin-bottom: 4.7rem;
    line-height: 1.5;
    text-align: left;
  }
  .comingsoon .txt-small {
    font-size: 1.4rem;
    margin-bottom: 7rem;
    text-align: center;
  }
}

/* variable
-------------------------------------------------------------------------------------------------------------------- */
/* mixin
-------------------------------------------------------------------------------------------------------------------- */
.title {
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-weight: bold;
  z-index: 1;
  font-size: 3rem;
  color: #ffffff;
}
@media (max-width: 959px) {
  .title {
    top: 3rem;
    left: 2.5rem;
  }
}

.mv {
  position: relative;
  height: 60.7rem;
}
@media (max-width: 959px) {
  .mv {
    height: 37.5rem;
  }
}
.mv img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top center;
}
.mv-pic {
  position: fixed;
  height: 70rem;
  z-index: -1;
}
.mv-pic.show img {
  height: 100vh;
  width: 100vw;
}
@media (max-width: 959px) {
  .mv-pic {
    height: 37.5rem;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .mv-pic.show img {
    height: 100vh;
  }
}
@media (max-width: 959px) {
  .mv-pic {
    width: 100%;
  }
  .mv-pic.show img {
    height: 100vh;
  }
  .mv img {
    height: 100%;
  }
}

.inTro {
  position: relative;
  background: #ffffff;
}
@media (max-width: 959px) {
  .inTro {
    top: 0;
  }
}
.inTro .ttl-h2 {
  text-align: center;
  margin: 0 auto 3.3rem;
}
@media (max-width: 959px) {
  .inTro .ttl-h2 {
    text-align: left;
  }
}
.inTro .container-inTro {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}
.inTro-wrap {
  background: #ffffff;
  padding: 10rem 10rem 5.3rem;
  top: -14.8rem;
  position: relative;
}
@media (min-width: 960px) and (max-width: 1199px) {
  .inTro-wrap {
    padding: 10rem 2rem 5.3rem;
  }
}
@media (max-width: 959px) {
  .inTro-wrap {
    padding: 8rem 2.5rem;
    top: 0;
  }
}

.products .ttl-h2 {
  text-align: center;
  margin: 0 auto 3.4rem;
}
@media (max-width: 959px) {
  .products .ttl-h2 {
    text-align: left;
  }
}
.products .container-products {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}
.products-list {
  display: flex;
  gap: 0 2rem;
  margin-bottom: -7rem;
  position: relative;
  top: -10.4rem;
}
@media (max-width: 959px) {
  .products-list {
    flex-wrap: wrap;
    gap: 0.3rem;
    padding: 0 2.5rem;
    top: -0.3rem;
    margin-bottom: 3rem;
  }
  .products-list li {
    width: calc(50% - 0.15rem);
  }
  .products-list li:first-child {
    width: 100%;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .products-list {
    padding: 0 2rem;
  }
}
.products-wrap {
  padding: 0 10rem 10rem;
}
@media (max-width: 959px) {
  .products-wrap {
    padding: 0 2.5rem 8rem;
  }
}
.products--1 {
  background: #ffffff;
}
.products--1 .products-list {
  top: 0;
  margin-bottom: 3.5rem;
}
.products--1 .container-products {
  padding-top: 9.8rem;
}
@media (max-width: 959px) {
  .products--1 .container-products {
    padding-top: 7.3rem;
  }
}

#sub-page {
  position: relative;
}
#sub-page #contents {
  background: #ffffff;
}
#sub-page .boxIn-content {
  padding: 10rem 0;
}
@media (max-width: 959px) {
  #sub-page .boxIn-content {
    padding: 8rem 0;
  }
}
#sub-page .boxIn-text .txt01 {
  margin-bottom: 1.5rem;
}
#sub-page .boxIn-content:nth-child(1) .boxIn-link {
  padding-right: 5rem;
}
#sub-page .boxIn-content:nth-child(1) .boxIn-link.storeOl-link-item {
  padding-right: 3rem;
}
#sub-page .boxIn-link {
  margin-left: auto;
}
#sub-page .boxIn-text .btnwrap {
  margin-top: 3rem;
}
@media (max-width: 959px) {
  #sub-page .boxIn-text .btnwrap {
    margin-top: 3.3rem;
  }
}
#sub-page .boxIn-text .ttl-h2 {
  display: block;
  margin-bottom: 3rem;
  width: inherit;
  line-height: 1.63636;
}
#sub-page .boxIn-content:nth-child(even) {
  background-color: inherit;
}
@media (max-width: 959px) {
  #sub-page .boxIn-content .boxIn-text {
    padding-top: 3.5rem;
  }
}

.tech {
  background: #ffffff;
}
.tech .container-boxIn {
  align-items: center;
}
.tech .container-boxIn:first-child {
  margin-bottom: 3.5rem;
  align-items: flex-start;
}
@media (min-width: 960px) and (max-width: 1199px) {
  .tech .container-boxIn {
    width: 95.2380952381%;
  }
  .tech .boxIn-pic {
    width: 48%;
  }
  .tech .boxIn-pic img {
    width: 100%;
  }
  .tech .boxIn-text {
    width: 48%;
  }
}
.ttl-h2--1 {
  width: 100%;
  text-align: center;
  margin-bottom: 3.5rem;
}

.history {
  padding: 10rem 0;
}
.history-list {
  margin-bottom: 2.5rem;
  padding-left: 10.3rem;
}
.history-list li {
  display: flex;
  position: relative;
  padding-bottom: 4rem;
}
.history-list li .ttl_h3 {
  margin-bottom: 0.3rem;
}
.history-list li .txt {
  line-height: 1.5;
  font-size: 1.4rem;
}
.history-list li:last-child {
  padding-bottom: 0;
}
.history-list li:last-child:before {
  height: 90%;
}
.history-list li:after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #697c8e;
  border-radius: 5rem;
  left: 6.1rem;
  top: 0.9rem;
}
.history-list li:before {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 6.5rem;
  width: 0.3rem;
  background-image: linear-gradient(to bottom, #697c8e 31%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 0.2rem 0.8rem;
  background-repeat: repeat-y;
  height: 100%;
  border-radius: 1rem;
}
.history p.year {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.1em;
  margin-right: 5rem;
}
.history p.txt span {
  color: #d88b83;
  font-weight: bold;
}
.history .btnwrap {
  margin-right: 10rem;
}
@media (max-width: 959px) {
  .history {
    padding: 8rem 0;
  }
  .history-list {
    padding-left: 0.7rem;
    margin-bottom: 2.9rem;
  }
  .history-list li {
    padding-bottom: 4rem;
  }
  .history-list li .txt {
    font-size: 1.4rem;
  }
  .history-list li .ttl_h3 {
    margin-bottom: 0.5rem;
  }
  .history .ttl-h2--1 {
    margin-bottom: 3.4rem;
  }
  .history .ttl_h3 {
    line-height: 1.333;
  }
  .history .btnwrap {
    margin-right: 0;
  }
}

.sub-head {
  height: 15rem;
  position: relative;
}
.sub-head .title {
  color: #697C8E;
}
@media (max-width: 959px) {
  .sub-head {
    height: 11rem;
  }
}

.companyoutline .ttl-h2 {
  margin-bottom: 3.5rem;
}
.companyoutline .ttl_h3 {
  margin-bottom: 2rem;
}
.companyoutline .boxIn-content {
  padding: 10rem 0;
}
@media (max-width: 959px) {
  .companyoutline .boxIn-content {
    padding: 8rem 0;
  }
}
.companyoutline + .breadcrumb + .logoft {
  background: #f7f8f9;
}

.table {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}
.table table {
  width: 100%;
}
.table table tr {
  border-top: solid 0.1rem #697C8E;
  border-bottom: solid 0.1rem #697C8E;
}
@media (max-width: 959px) {
  .table table tr {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
  .table table tr:last-child {
    border-bottom: solid 0.1rem #697C8E;
  }
}
.table table td {
  padding: 2.5rem;
  line-height: 2;
}
@media (max-width: 959px) {
  .table table td {
    padding: 2rem;
  }
}
.table table td:first-child {
  width: 30%;
  font-weight: bold;
}
@media (max-width: 959px) {
  .table table td:first-child {
    width: 100%;
    padding-bottom: 1.5rem;
  }
}
.table table td:last-child {
  width: 70%;
  padding-left: 0;
}
@media (max-width: 959px) {
  .table table td:last-child {
    padding-top: 0;
    width: 100%;
    padding-left: 2rem;
  }
}

.maps .container-box8 {
  display: block;
}
.maps-content {
  height: 50rem;
  margin: 0 calc(50% - 50vw) 3.5rem calc(50% - 50vw + 8rem);
}
.maps-content:last-child {
  margin-bottom: 0;
}
@media (max-width: 959px) {
  .maps-content {
    margin: 0 -2.5rem 3.5rem;
    height: 20rem;
  }
}

.contact + .breadcrumb + .logoft {
  background: #f7f8f9;
}
.contact-list {
  display: flex;
  flex-direction: column;
}
.contact-item {
  display: flex;
  padding: 2.5rem 2rem 2.3rem;
  border-bottom: 1px solid #697c8e;
}
.contact-item:nth-child(1) {
  border-top: 1px solid #697c8e;
}
.contact-item .content-left {
  min-width: 20rem;
  font-weight: bold;
}
.contact-item .content-right {
  min-width: 56rem;
  line-height: 2;
  margin-top: -0.7rem;
}
.contact-item .content-right .mail {
  transition: opacity 0.3s ease-in-out;
  color: #337ab7;
}
.contact-item .content-right .mail:hover {
  color: #23527c;
  text-decoration: underline;
}
.contact .txt {
  margin-bottom: 3.5rem;
}
.contact .txt .br-b {
  border-bottom: 1px solid #697c8e;
  transition: opacity 0.3s ease-in-out;
}
.contact .txt .br-b:hover {
  opacity: 0.6;
}
@media (max-width: 959px) {
  .contact-list {
    display: flex;
    flex-direction: column;
  }
  .contact-content {
    width: 100%;
  }
  .contact-item {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2rem 2.3rem;
    border-bottom: 1px solid #697c8e;
  }
  .contact-item:nth-child(1) {
    border-top: 1px solid #697c8e;
  }
  .contact-item .content-left {
    min-width: 100%;
    margin-bottom: 1.3rem;
  }
  .contact-item .content-right {
    min-width: 100%;
    margin-top: 0;
  }
  .contact .txt {
    margin-bottom: 3.1rem;
  }
}

#sub-page.contact-form + .breadcrumb + .logoft {
  background: #f7f8f9;
}
.contact-form .txt {
  margin-bottom: 3.5rem;
}

/* variable
-------------------------------------------------------------------------------------------------------------------- */
/* mixin
-------------------------------------------------------------------------------------------------------------------- */
#main-page .mainVisual {
  position: relative;
}
#main-page .mainVisual-wrapper {
  height: 100vh;
  min-height: 60rem;
  position: relative;
  width: 100%;
  margin-left: auto;
}
#main-page .mainVisual-pic {
  height: 100%;
  margin-left: auto;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  width: calc(100% - 15rem);
}
@media (max-width: 959px) {
  #main-page .mainVisual-pic {
    width: 100vw;
  }
}
#main-page .mainVisual-pic .swiper {
  height: 100%;
}
#main-page .mainVisual-pic .item {
  display: block;
}
#main-page .mainVisual-pic .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #263a4d;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}
#main-page .mainVisual-pic .item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top center;
}
#main-page .mainVisual-title {
  position: absolute;
  bottom: 5.6rem;
  z-index: 5;
  left: 6.6rem;
  display: flex;
  flex-direction: column;
}
#main-page .mainVisual-title .en {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
#main-page .mainVisual-title .ja {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
}
#main-page .mainVisual-title .txt01 {
  font-size: 3.6rem;
  margin-bottom: 4.2rem;
}
#main-page .mainVisual-title .txt02 {
  font-size: 1.8rem;
}
@media (max-width: 959px) {
  #main-page .mainVisual-wrapper {
    height: calc(100vh - 8rem);
    min-height: auto;
  }
  #main-page .mainVisual-pic .item img {
    object-position: center;
  }
  #main-page .mainVisual-title {
    left: 2.5rem;
    bottom: 3.5rem;
  }
  #main-page .mainVisual-title .en {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }
  #main-page .mainVisual-title .txt01 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    line-height: 1.735;
  }
  #main-page .mainVisual-title .txt02 {
    font-size: 1.6rem;
  }
}
#main-page .boxIn {
  background: #ffffff;
}
#main-page .boxIn .container-boxIn {
  padding: 9rem 0 10rem;
}
#main-page .boxIn-text {
  padding-top: 6.5rem;
}
#main-page .boxIn-text .txt01 {
  margin-bottom: 1.7rem;
}
#main-page .boxIn-text .ttl-h2 {
  display: block;
  margin-bottom: 3rem;
}
#main-page .boxIn-text .btnwrap {
  margin-top: 2.5rem;
}
#main-page .boxIn-link {
  margin-left: auto;
}
#main-page .boxIn-content:nth-child(1) .boxIn-link {
  padding-right: 5rem;
}
#main-page .boxIn-content:nth-child(2) .boxIn-text {
  padding-top: 5.8rem;
}
#main-page .boxIn-content:nth-child(3) .container-boxIn {
  padding: 12.5rem 0 10rem;
}
@media (min-width: 960px) and (max-width: 1199px) {
  #main-page .boxIn .boxIn-pic {
    width: 48%;
  }
  #main-page .boxIn .boxIn-pic img {
    width: 100%;
  }
  #main-page .boxIn .boxIn-text {
    width: 48%;
  }
}
@media (max-width: 959px) {
  #main-page .boxIn {
    padding: 0 2.5rem;
  }
  #main-page .boxIn .container-boxIn {
    width: 100%;
    flex-direction: column;
    padding: 7rem 0 9rem;
  }
  #main-page .boxIn-pic {
    width: 100%;
  }
  #main-page .boxIn-text {
    width: 100%;
    padding-top: 3.6rem;
  }
  #main-page .boxIn-text .txt01 {
    margin-bottom: 1.5rem;
  }
  #main-page .boxIn-content:nth-child(even) {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    padding: 0 2.5rem;
  }
  #main-page .boxIn-content:nth-child(2) .boxIn-text {
    padding-top: 3.4rem;
  }
  #main-page .boxIn-content:nth-child(3) .container-boxIn {
    padding: 7rem 0 9rem;
  }
}
#main-page .picUp {
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}
#main-page .picUp .ttl-h2 {
  margin: 0 auto 1.1rem;
}
#main-page .picUp .ttl-h2.en {
  margin: 0 auto 3rem;
}
#main-page .picUp-content {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #697c8e;
  transition: opacity 0.3s ease-in-out;
}
#main-page .picUp-content:hover {
  opacity: 0.6;
}
#main-page .picUp-text {
  text-align: center;
  margin-top: 3.8rem;
}
#main-page .picUp-text .txt {
  font-size: 1.4rem;
  line-height: 1.5;
}
#main-page .picUp .swiper {
  padding-bottom: 6rem;
}
#main-page .picUp .dots .swiper-pagination-bullet-active {
  width: 0.8rem;
  background-color: #697c8e;
}
#main-page .picUp .dots .swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: 0.8rem;
}
#main-page .picUp .btnArrow {
  position: absolute;
  bottom: 10.5rem;
  left: 50%;
  width: 84%;
  transform: translateX(-50%);
  z-index: 9;
}
#main-page .picUp .btnArrow .swiper-button-next,
#main-page .picUp .btnArrow .swiper-button-prev {
  transition: opacity 0.3s ease-in-out;
}
#main-page .picUp .btnArrow .swiper-button-next:hover,
#main-page .picUp .btnArrow .swiper-button-prev:hover {
  opacity: 0.6;
}
#main-page .picUp .btnArrow .swiper-button-next:after,
#main-page .picUp .btnArrow .swiper-button-prev:after {
  content: "";
  background-image: url(../../assets/img/ico-arrow-left.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.4rem;
  height: 2.5rem;
}
#main-page .picUp .btnArrow .swiper-button-next:after {
  transform: scale(-1, 1);
}
@media (min-width: 960px) and (max-width: 1199px) {
  #main-page .picUp .picUp-pic img {
    width: 100%;
  }
}
@media (max-width: 959px) {
  #main-page .picUp {
    padding: 7rem 0;
  }
  #main-page .picUp-text {
    padding: 0 2.5rem 0 3.5rem;
    margin-top: 2.9rem;
    position: relative;
  }
  #main-page .picUp-text .txt {
    text-align: left;
  }
  #main-page .picUp .ttl-h2 {
    margin: 0 auto 1.4rem;
  }
  #main-page .picUp .swiper {
    padding-bottom: 3.5rem;
  }
  #main-page .picUp .dots .swiper-pagination-bullet-active {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  }
  #main-page .picUp .btnArrow {
    bottom: 10.5rem;
    top: auto;
    width: 100%;
  }
  #main-page .picUp .btnArrow .swiper-button-next {
    right: -0.5rem;
  }
  #main-page .picUp .btnArrow .swiper-button-prev {
    left: -0.5rem;
  }
}
#main-page .news {
  padding-top: 9.9rem;
  padding-bottom: 9.5rem;
  background: #ffffff;
}
#main-page .news .ttl-h2 {
  margin: 0 auto 3.6rem;
}
#main-page .news .btnwrap {
  margin-top: 2.7rem;
}
@media (max-width: 959px) {
  #main-page .news {
    padding: 7.6rem 0;
  }
  #main-page .news-item {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  #main-page .news-item .ttl_h3 {
    margin-bottom: 0.8rem;
    line-height: 1.4;
  }
}
#main-page .storeOl {
  padding-top: 10.3rem;
  padding-bottom: 9.5rem;
}
#main-page .storeOl .ttl-h2.en {
  margin: 0 auto 3.5rem;
}
#main-page .storeOl-list {
  padding-left: 0.5rem;
}
@media (min-width: 960px) and (max-width: 1199px) {
  #main-page .storeOl .storeOl-link-item.wdImg {
    width: 100%;
  }
  #main-page .storeOl .storeOl-link-item.wdImg img {
    width: 100%;
  }
}
@media (max-width: 959px) {
  #main-page .storeOl {
    padding-top: 8.4rem;
    padding-bottom: 7.8rem;
  }
  #main-page .storeOl .ttl-h2.en {
    margin: 0 auto 3rem;
  }
  #main-page .storeOl-list {
    flex-direction: column;
    row-gap: 5rem;
    column-gap: 0;
    padding-left: 0;
    margin: 0 auto;
    align-items: center;
  }
  #main-page .storeOl-list-item {
    justify-content: center;
  }
  #main-page .storeOl-link-item.wdImg {
    width: 73.85%;
  }
}

.information .ttl-h2 {
  margin-bottom: 3.5rem;
}
.information .ttl_h3 {
  margin-bottom: 2rem;
}
.information .boxIn-content {
  padding: 10rem 0;
}
@media (max-width: 959px) {
  .information .boxIn-content {
    padding: 8rem 0;
  }
}
.information .news .ttl_h3 {
  font-size: 2.4rem;
}
@media (max-width: 959px) {
  .information .news .ttl_h3 {
    font-size: 2.2rem;
  }
}
.information .news .thumb {
  margin: 3.5rem 0;
  display: block;
}
.information .news .thumb img {
  margin: 0 auto;
}
.information .news-details {
  border-top: solid 0.1rem #697c8e;
  border-bottom: solid 0.1rem #697c8e;
  padding: 3.5rem 0;
  margin-bottom: 4.5rem;
}
.information .news-details .txt-link {
  display: block;
}
.information + .breadcrumb + .logoft {
  background: #f7f8f9;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 19rem;
  width: 100%;
  margin: 0 auto;
}
.pagination a.prev,
.pagination a.next {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}
.pagination a.prev:hover,
.pagination a.next:hover {
  opacity: 0.6;
}
.pagination a.prev:after,
.pagination a.next:after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-top: solid 0.1rem #697c8e;
  border-right: solid 0.1rem #697c8e;
}
.pagination .prev:after {
  transform: rotate(-135deg);
}
.pagination .next:after {
  transform: rotate(45deg);
}
.pagination .back {
  font-family: "Outfit", sans-serif;
  transition: opacity 0.3s ease-in-out;
}
.pagination .back:hover {
  opacity: 0.6;
}

.merit {
  padding-bottom: 10rem;
}
@media (max-width: 959px) {
  .merit {
    padding-bottom: 8rem;
  }
}
.merit .ttl-h2 {
  text-align: center;
  margin: 0 auto 3.4rem;
}
@media (max-width: 959px) {
  .merit .ttl-h2 {
    text-align: left;
  }
}
.merit .container-merit {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 959px) {
  .merit .container-merit {
    padding: 0 2.5rem;
  }
}
.merit-list {
  display: flex;
  gap: 0 2rem;
  margin-bottom: -7rem;
  position: relative;
  top: -10.4rem;
  color: #ffffff;
}
.merit-list li {
  background: #697C8E;
  padding: 3rem;
  width: 33.33333%;
}
@media (max-width: 959px) {
  .merit-list {
    flex-wrap: wrap;
    gap: 3.5rem;
    top: -0.3rem;
    margin-bottom: 3rem;
  }
  .merit-list li {
    width: 100%;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .merit-list {
    padding: 0 2rem;
  }
}
.merit-list .ttl_h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.merit-list p.txt {
  font-size: 1.4rem;
  text-align: justify;
}
.merit-num {
  text-align: center;
  margin-bottom: 0.5rem;
}
.merit-num span {
  font-size: 1.2rem;
  position: relative;
  font-weight: bold;
}
.merit-num span:after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 100%;
  background: #ffffff;
  transform: rotate(35deg);
  bottom: 0;
  right: -1rem;
}
.merit-num span:before {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 100%;
  background: #ffffff;
  transform: rotate(-35deg);
  bottom: 0;
  left: -1rem;
}
.merit-wrap {
  padding: 0 10rem 10rem;
}
@media (max-width: 959px) {
  .merit-wrap {
    padding: 0 2.5rem 8rem;
  }
}
.merit .btnwrap {
  text-align: center;
}
.merit .btn-contact {
  background: #D88B83;
  color: #ffffff;
  border: solid 0.1rem #D88B83;
  transition: 0.3s ease-in-out;
  max-width: 50.8rem;
  height: 6.6rem;
  margin: 0 auto;
  width: 100%;
}
.merit .btn-contact:hover {
  background: #ffffff;
  color: #D88B83;
}

.examples {
  background: #ffffff;
}
.examples .ttl-h2 {
  margin-bottom: 3.5rem;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 2rem;
}
@media (max-width: 959px) {
  .examples-list {
    gap: 0;
  }
}
.examples-list > li {
  max-width: 32rem;
  width: calc(33.333333% - 1.3333333333rem);
  padding: 3rem;
  border-top: solid 0.1rem #697C8E;
}
@media (max-width: 959px) {
  .examples-list > li {
    width: 100%;
    max-width: 100%;
  }
}
.examples-list .thumb {
  margin: 1rem 0;
}
.examples-list .thumb img {
  margin: 0 auto;
  width: 100%;
  max-width: 10rem;
}
.examples-list ol li {
  width: 100%;
  list-style: none;
  font-size: 1.4rem;
}
.examples-list p.txt {
  font-size: 1.4rem;
}

.achievement-list {
  display: flex;
  gap: 2rem;
  margin-bottom: 3.5rem;
  flex-wrap: wrap;
}
@media (max-width: 959px) {
  .achievement-list {
    gap: 3.5rem;
  }
}
.achievement-list li {
  background: #ffffff;
  padding: 3rem;
  width: calc(33.333333% - 1.3333333333rem);
  max-width: 32rem;
}
@media (max-width: 959px) {
  .achievement-list li {
    width: 100%;
    max-width: 100%;
  }
}
.achievement-list .thumb {
  margin-bottom: 1.5rem;
}
.achievement-list p.txt {
  font-size: 1.4rem;
}

.steps-num {
  width: 8rem;
  height: 8rem;
  background: #697c8e;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  border-radius: 5rem;
}
.steps-num span {
  display: block;
  font-size: 2.4rem;
  line-height: 1;
}
.steps-content {
  padding-top: 0.5rem;
}
.steps-list li {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
  padding-bottom: 4rem;
  z-index: 1;
}
.steps-list li:after {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 4rem;
  width: 0.3rem;
  height: 100%;
  background-image: linear-gradient(to bottom, #697c8e 31%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 0.2rem 0.8rem;
  background-repeat: repeat-y;
  border-radius: 1rem;
  z-index: -1;
}
.steps-list li:last-child:after {
  content: none;
}
.steps-list p.txt {
  font-size: 1.4rem;
}
.steps-list p.txt span {
  color: #D88B83;
}
.steps .ttl_h3 {
  margin-bottom: 0.5rem;
}

.note-box {
  border: solid 0.2rem #697C8E;
  padding: 5rem 3rem;
  text-align: center;
  width: 100%;
  margin-top: 3.5rem;
}
.note-box .ttl_h3 {
  color: #D88B83;
  margin-bottom: 3.5rem;
}
.note-box-content {
  max-width: 60rem;
  margin: 0 auto;
}
@media (max-width: 959px) {
  .note-box-content p.txt {
    text-align: left;
  }
}

@media (max-width: 959px) {
  .tal-sp {
    text-align: left !important;
  }
}

@media (max-width: 959px) {
  #wrapper.error {
    padding-top: 0;
  }
}

#error-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 100%;
}
#error-page .content {
  width: 51rem;
  min-height: 35rem;
  text-align: center;
  position: relative;
}
#error-page .ttl_cos_h1 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 0.75;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.6rem;
}
#error-page .ttl_cos_h1 .numb {
  font-size: 7.2rem;
  margin-bottom: 1.5rem;
}
#error-page .ttl_cos_h1 .txt {
  font-size: 3rem;
}
#error-page .txt {
  line-height: 1.5;
}
#error-page .btnwrap {
  display: flex;
  justify-content: center;
  margin-top: 5.6rem;
}
@media (max-width: 959px) {
  #error-page .content {
    width: 100%;
  }
  #error-page .txt {
    text-align: left;
  }
}

.privacy + .breadcrumb + .logoft {
  background: #f7f8f9;
}
.privacy-list {
  display: flex;
  flex-direction: column;
}
.privacy-item {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 0 5rem;
  border-bottom: 1px solid #697c8e;
}
.privacy-item:nth-child(1) {
  border-top: 1px solid #697c8e;
}
.privacy-item:last-child {
  border-bottom: none;
}
.privacy-item .ttl_pr_h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 3.4rem;
}
.privacy-item .content-item {
  font-size: 1.4rem;
  line-height: 1.5;
}
.privacy-item .content-item .txt {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 3.3rem;
}
.privacy .boxIn-content {
  padding-bottom: 2.2rem !important;
}
.privacy .txt {
  margin-bottom: 4.4rem;
}
.privacy .dot-list {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  padding-left: 0;
  line-height: 1.5;
}
.privacy .dot-list ul {
  margin-top: 0.7rem;
}
.privacy .num-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
  padding-left: 2rem;
  line-height: 1.5;
}
.privacy .num-list ul {
  margin-top: 0.7rem;
}
.privacy .mb-0 {
  margin-bottom: 0 !important;
}
.privacy .mt-35 {
  margin-top: 3.5rem !important;
}
@media (max-width: 959px) {
  .privacy-list {
    display: flex;
    flex-direction: column;
  }
  .privacy-item {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0 5rem;
    border-bottom: 1px solid #697c8e;
  }
  .privacy-item:nth-child(1) {
    border-top: 1px solid #697c8e;
  }
  .privacy-item:last-child {
    border-bottom: none;
  }
  .privacy-item .ttl_pr_h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3.4rem;
  }
  .privacy-item .content-item {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .privacy-item .content-item .txt {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 3.3rem;
  }
  .privacy .boxIn-content {
    padding-bottom: 2.2rem !important;
    padding-top: 6rem !important;
  }
  .privacy .txt {
    margin-bottom: 4.4rem;
  }
  .privacy .dot-list {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    padding-left: 0;
    line-height: 1.5;
  }
  .privacy .dot-list ul {
    margin-top: 0.7rem;
  }
  .privacy .num-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    padding-left: 2rem;
    line-height: 1.5;
  }
  .privacy .num-list ul {
    margin-top: 0.7rem;
  }
  .privacy .mb-0 {
    margin-bottom: 0 !important;
  }
  .privacy .mt-35 {
    margin-top: 3.5rem !important;
  }
}

#sub-page.products-page .boxIn {
  background: #ffffff;
  margin-top: -10.2rem;
}
#sub-page.products-page .boxIn .container-boxIn {
  margin: 0 auto;
}
#sub-page.products-page .boxIn .container-boxIn.reverse .boxIn-text {
  padding-top: 8.6rem;
}
#sub-page.products-page .boxIn-text {
  text-align: center;
  padding-top: 5.5rem;
}
#sub-page.products-page .boxIn-text .txt01.st2 {
  background-color: transparent;
  color: #697c8e;
  margin: 0.8rem auto 2.6rem;
  font-weight: 400;
  font-size: 1.4rem;
}
#sub-page.products-page .boxIn-text .logo-product {
  display: flex;
  justify-content: center;
}
#sub-page.products-page .boxIn-text .txt {
  font-size: 1.4rem;
  line-height: 1.5;
}
#sub-page.products-page .boxIn-text .btnwrap {
  margin-top: 2.6rem;
}
#sub-page.products-page .boxIn-text .btnwrap .boxIn-link {
  padding-right: 4rem;
}
#sub-page.products-page .boxIn-text .btnwrap .ico-link {
  top: 1.2rem;
}
#sub-page.products-page .storeOl {
  padding-top: 9.8rem;
  padding-bottom: 9.5rem;
}
#sub-page.products-page .storeOl .container-box832 {
  justify-content: center;
}
#sub-page.products-page .storeOl .ttl-h2 {
  text-align: center;
}
#sub-page.products-page .storeOl .ttl-h2.en {
  margin: 0 auto 3.5rem;
}
#sub-page.products-page .storeOl .ttl-sub {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
}
#sub-page.products-page .storeOl .wdicon {
  transform: translateX(-1rem);
}
@media (min-width: 960px) and (max-width: 1199px) {
  #sub-page.products-page .boxIn-pic {
    width: 48%;
  }
  #sub-page.products-page .boxIn-text {
    width: 48%;
  }
  #sub-page.products-page .boxIn .ttl-h2 {
    width: auto;
  }
  #sub-page.products-page .storeOl .container-box832 {
    width: 79.2380952381%;
  }
  #sub-page.products-page .storeOl .storeOl-link-item.wdImg {
    width: 100%;
  }
  #sub-page.products-page .storeOl .storeOl-link-item.wdImg img {
    width: 100%;
  }
  #sub-page.products-page .storeOl .ttl-h2 {
    text-align: center;
  }
  #sub-page.products-page .storeOl .ttl-h2.en {
    margin: 0 auto 3.5rem;
  }
}
@media (max-width: 959px) {
  #sub-page.products-page .boxIn {
    background: #ffffff;
    margin-top: 0;
    padding: 0 2.5rem;
  }
  #sub-page.products-page .boxIn-content {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    padding: 0 2.5rem;
  }
  #sub-page.products-page .boxIn .container-boxIn {
    margin: 0 auto;
    padding: 7.7rem 0;
  }
  #sub-page.products-page .boxIn .container-boxIn.reverse {
    padding-top: 8.1rem;
  }
  #sub-page.products-page .boxIn .container-boxIn.reverse .boxIn-text {
    padding-top: 3.7rem;
  }
  #sub-page.products-page .boxIn .container-boxIn.reverse .boxIn-text .txt01.st2 {
    margin: 0.8rem auto 2.9rem;
  }
  #sub-page.products-page .boxIn .container-boxIn.reverse .boxIn-text .logo-product {
    width: 80%;
  }
  #sub-page.products-page .boxIn-text {
    text-align: center;
    padding-top: 3.7rem;
  }
  #sub-page.products-page .boxIn-text .txt01.st2 {
    background-color: transparent;
    color: #697c8e;
    margin: 0.8rem auto 2.1rem;
    font-weight: 400;
  }
  #sub-page.products-page .boxIn-text .logo-product {
    display: flex;
    justify-content: center;
    width: 45.857%;
    margin: 0 auto;
  }
  #sub-page.products-page .boxIn-text .txt {
    line-height: 1.7857;
    text-align: left;
  }
  #sub-page.products-page .boxIn-text .btnwrap {
    margin-top: 1.2rem;
  }
  #sub-page.products-page .boxIn-text .btnwrap .boxIn-link {
    padding-right: 4rem;
  }
  #sub-page.products-page .boxIn-text .btnwrap .ico-link {
    top: 1.2rem;
  }
  #sub-page.products-page .boxIn-text .ttl-h2 {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 4.3rem;
  }
  #sub-page.products-page .storeOl {
    padding-top: 8.3rem;
    padding-bottom: 7.6rem;
  }
  #sub-page.products-page .storeOl .container-box832 {
    justify-content: center;
    width: 100%;
    padding: 0 2.5rem;
    flex-direction: column;
  }
  #sub-page.products-page .storeOl-list {
    flex-direction: column;
    row-gap: 5rem;
    column-gap: 0;
    padding-left: 0;
    margin: 0 auto;
    align-items: center;
  }
  #sub-page.products-page .storeOl .ttl-h2 {
    text-align: left;
  }
  #sub-page.products-page .storeOl .ttl-h2.en {
    margin: 0 auto 2.9rem;
  }
  #sub-page.products-page .storeOl .ttl-sub {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 3.4rem;
    margin-bottom: 3.4rem;
  }
  #sub-page.products-page .storeOl .wdicon {
    transform: translateX(-1rem);
  }
}

.recruit .form-content {
  margin-top: 3.5rem;
}

.staff .ttl-h2 {
  text-align: center;
  margin: 0 auto 3.4rem;
}
@media (max-width: 959px) {
  .staff .ttl-h2 {
    text-align: left;
  }
}
.staff .container-staff {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}
.staff-list {
  display: flex;
  gap: 0 2rem;
  margin-bottom: 0;
  position: relative;
  top: -10.4rem;
}
.staff-list li {
  padding: 3rem;
  background: #F7E8E6;
}
.staff-list .thumb {
  margin-bottom: 2rem;
}
.staff-list .ttl_h3 {
  margin-bottom: 2rem;
}
.staff-list p.txt {
  font-size: 1.4rem;
}
@media (max-width: 959px) {
  .staff-list {
    flex-wrap: wrap;
    gap: 3.5rem;
    padding: 0 2.5rem;
    top: -0.3rem;
    margin-bottom: 3rem;
  }
  .staff-list li {
    width: 100%;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .staff-list {
    padding: 0 2rem;
  }
}
.staff-wrap {
  padding: 0 10rem 10rem;
}
@media (max-width: 959px) {
  .staff-wrap {
    padding: 0 2.5rem 8rem;
  }
}

.table + .table-tag {
  margin-top: 14.2rem;
}
@media (max-width: 959px) {
  .table + .table-tag {
    margin-top: 8.6rem;
  }
}

.table-tag {
  background: #697C8E;
  padding: 0.5rem;
  min-width: 5.4rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
}