<div class="logoft parallax">
    <div class="plx-img"></div>
    <div class="logo u_anime-fadeUp">
        <a href="/">
            <img src="/assets/img/logo-ft_pc.svg" alt="logo ft">
        </a>
    </div>
</div>
<footer class="footer">
    <div class="container-ft u_anime-fadeUp">
        <div class="contact">
            <h2 class="ttl-contact">CONTACT</h2>
            <div class="btnwrap">
                <a href="/contact/" class="btn-contact">
                    <span class="ico">
                        <img src="/assets/img/ico-ft-contact-pink.svg" alt="ico mail" class="on">
                        <img src="/assets/img/ico-ft-contact.svg" alt="ico mail" class="off">
                    </span>
                    <span class="txtCt">お気軽にお問い合わせください</span>
                </a>
            </div>
        </div>
        <div class="bottom ">
            <div class="bottom-infor">
                <h3 class="bottom-ttl">チーカス株式会社</h3>
                <p class="address"><span class="bold">本社</span><br>〒452-0021　愛知県清須市西枇杷島町小田井三丁目1-3<br>TEL : 052-501-0001　FAX : 052-501-0002<br><span class="bold">東京営業所</span><br>〒107-0062　東京都港区南青山6-11-9 VILLA SKビル2F<br>TEL : 03-3499-1776<br>
                    <!-- <span class="bold">大阪事務所</span><br>〒550-0004　大阪市西区靱本町1-20-13 なにわ筋ビル4F -->
                </p>
            </div>
            <div class="bottom-link">
                <div class="bottom-link-menu">
                    <h4 class="bottom-ttl_h4">menu</h4>
                    <div class="list-link">
                        <ul>
                            <li>
                                <a href="/company/" class="bottom-link-item">私たちについて</a>
                            </li>
                            <li>
                                <a href="/products/" class="bottom-link-item">商品について</a>
                            </li>
                            <li>
                                <a href="/oem/" class="bottom-link-item">OEMについて</a>
                            </li>
                            <li>
                                <a href="/companyoutline/" class="bottom-link-item">会社情報</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/information/" class="bottom-link-item">お知らせ</a>
                            </li>
                            <!-- <li>
                                <a href="/recruit/" class="bottom-link-item">採用情報</a>
                            </li> -->
                            <li>
                                <a href="/contact/" class="bottom-link-item">お問い合わせ</a>
                            </li>
                            <li>
                                <a href="/privacy/" class="bottom-link-item">プライバシーポリシー</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-link-menu">
                    <h4 class="bottom-ttl_h4">ONLINE STORE</h4>
                    <div class="list-link">
                        <ul>
                            <li>
                                <a href="https://cuip.jp/" class="bottom-link-item wdicon" target="_blank"><span>Cuip</span></a>
                            </li>
                            <li>
                                <a href="https://saluffyplus.myshopify.com/" target="_blank" class="bottom-link-item wdicon"><span>サラッフィープラス </span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="link-social">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/chiecascoltd/" class="bottom-link-item" target="_blank"><img src="/assets/img/ico-instagram.svg" alt="instagram"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ChiecasCoLtd/" target="_blank" class="bottom-link-item"><img src="/assets/img/ico-facebook.svg" alt="fb"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyRight">&#169; 2023 Chiecas Co.,Ltd.</div>
    </div>
</footer>