<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">

<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
<!-- SEO -->
<meta property="og:type" content="website">
<meta property="og:title" content="チーカス株式会社">
<meta property="og:site_name" content="チーカス株式会社">
<meta property="og:description" content="企画/開発から、製造、販売までを行うインナーメーカー">
<meta property="og:url" content="https://www.chiecas.com/">
<meta property="og:image" content="/assets/img/ogp.png">

<!-- CSS Common-->
<link rel="stylesheet" href="/assets/css/app.css">
