<script src="/assets/js/viewport.js"></script>

<div class="overlay"></div>
<header id="header">
  <div class="container-header">
    <div class="main">
      <h1 class="logo">
        <a href="/" class="logo-item">
          <img class="" src="/assets/img/logo.svg" alt="">
          <span>チーカス株式会社</span>
        </a>
      </h1>
    </div>
    <a href="javascript:void(0);" id="menuBtn" class="">
      <div class="inner">
        <div class="inner_icon">
          <span class="inner_icon-line"></span>
          <span class="inner_icon-line"></span>
        </div>
        <div class="inner_name">MENU</div>
      </div>
    </a>
    <a href="#contents" class="scrollDown onlyPC">
      <span class="scrollDown-txt">Scroll</span>
    </a>
  </div>
</header>
<div class="gnavi">
  <div class="nav">
    <ul class="gnavi-list">
      <li>
        <a href="/" class=" gnavi-link">ホーム</a>
      </li>
      <li>
        <a href="/company/" class=" gnavi-link">私たちについて</a>
      </li>
      <li>
        <a href="/products/" class=" gnavi-link">商品について</a>
      </li>
      <li>
        <a href="/oem/" class=" gnavi-link">OEMについて</a>
      </li>
      <li>
        <a href="/companyoutline/" class=" gnavi-link">会社情報</a>
      </li>
      <li>
        <a href="/information/" class=" gnavi-link">お知らせ</a>
      </li>
      <!-- <li>
        <a href="/recruit/" class=" gnavi-link">採用情報</a>
      </li> -->
      <li>
        <a href="/contact/" class=" gnavi-link">お問い合わせ</a>
      </li>
      <li>
        <a href="/privacy/" class=" gnavi-link">プライバシーポリシー</a>
      </li>
    </ul>
  </div>
</div>