@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: $zenkaku;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

// @media (min-width: 960px) and (max-width: 1199px) {
//   html {
//     font-size: calc(100vw / 120);
//   }
// }

@media (max-width: 375px) {
  html {
    font-size: calc(100vw / 37.5);
  }
}

@media screen and (min-width: 960px) {
  .onlySP {
    display: none !important;
  }
}

@media screen and (max-width: 959px) {
  .onlyPC {
    display: none !important;
  }
}

body {
  font-family: $zenkaku;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #697c8e;
}

picture {
  display: flex;
}

a {
  text-decoration: none;
  color: #697c8e;
}

.w-full {
  width: 100% !important;
}

a.link-hover {
  transition: color 0.3s ease-in-out;
  &:hover {
    color: #f1994f;
  }
}
.bold {
  font-weight: bold;
}
button {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

a[href^="tel:"] {
  cursor: default;
}

.txt-underline {
  text-decoration: underline !important;
}
/* wrapper
=====================================================================*/
#wrapper {
  overflow: hidden;
  position: relative;
  padding-left: 15rem;

  @include sp {
    max-width: 96rem;
    padding-top: 8rem;
    padding-left: 0;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 200vh;
      width: 100%;
      background: #fff;
    }
  }

  .bottom {
    z-index: 11;
    position: relative;
  }
}

@include sp {
  html.disableScroll,
  html.disableScroll body {
    // width: 100%;
    // height: 100%;
    overflow: hidden;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    width: 100%;
  }
}

/* container
=====================================================================*/
.container {
  max-width: 121.6rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  @include sp {
    max-width: 100%;
    padding: 0 2.5rem;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  &.open {
    pointer-events: auto;
    z-index: 994;
  }
}
.txt {
  font-size: 1.6rem;
  line-height: 1.75;
}
.u_anime-fadeUp {
  transform: translateY(30px);
  opacity: 0;
  transition: opacity 1.6s cubic-bezier(0.19, 1, 0.22, 1),
    transform 1.6s cubic-bezier(0.19, 1, 0.22, 1);
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}
.breadcrumb {
  padding: 4.7rem 5rem 4.2rem;
  background: #ffffff;
  @include sp {
    padding: 4.2rem 2.5rem;
  }
  ul {
    // display: flex;
    // flex-wrap: wrap;
    li {
      font-size: 1.1rem;
      display: inline;
      a {
        position: relative;
        padding-right: 1.3rem;
        margin-right: 1.3rem;
        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.6;
        }
        &:after {
          content: "";
          position: absolute;
          width: 0.7rem;
          height: 0.7rem;
          border-top: solid 0.1rem #697c8e;
          border-left: solid 0.1rem #697c8e;
          transform: rotate(135deg);
          right: 0;
          top: 0.5rem;
        }
      }
      span {
        font-weight: bold;
      }
    }
  }
}
.ico-link {
  position: absolute;
  top: 0.5rem;
  right: 0;
  background-image: url(../../assets/img/ico-externallink.svg);
  width: 1.2rem;
  height: 1.2rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.reg {
  vertical-align: top;
  font-size: 1rem;
}
.txt-link {
  text-decoration: underline;
  margin-bottom: 3.5rem;
  // display: block;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}
.cs_hide {
  opacity: 0;
  pointer-events: none;
}
.txt-link_noLine {
  transition: opacity 0.3s ease-in-out;
  color: #337ab7;
  &:hover {
    // opacity: 0.6;
    color: #23527c;
    text-decoration: underline;
  }
}
