.logoft {
  height: 30.5rem;
  width: 100%;

  position: relative;
  &.show {
    .plx-img {
      opacity: 1;
      z-index: -1;
    }
  }
  &.showbg {
    .plx-img {
      background: #fff !important;
      z-index: -1;
      opacity: 1;
    }
  }
  .plx-img {
    display: block;
    position: fixed;
    opacity: 0;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25rem;
    z-index: -2;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  @include sp {
    height: 30rem;
    &.showbg {
      .plx-img {
        background: #fff !important;
        z-index: -1;
        opacity: 1;
      }
    }
    .plx-img {
      left: -50%;
      height: 20rem;
    }
    .logo {
      > a {
        display: flex;
        width: auto;
        height: 37.5%;
      }
    }
  }
}
.footer {
  background-color: #d88b83;
  padding-top: 9.7rem;
  padding-bottom: 5rem;
  .ttl-contact {
    font-family: $outfit;
    letter-spacing: 0.1em;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 3rem;
  }
  .btnwrap {
    display: flex;
    justify-content: center;
  }
  .bottom {
    width: 111.6rem;
    margin: 5rem auto 4rem;
    display: flex;
    justify-content: space-between;

    &-infor {
      width: 31.2rem;
    }
    &-ttl {
      color: #fff;
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: 0.08em;
      margin-bottom: 1.5rem;
    }
    &-ttl_h4 {
      font-family: $outfit;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      padding-bottom: 0.8rem;
      margin-bottom: 2.2rem;
      position: relative;
      color: #fff;
      text-transform: uppercase;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
      }
    }
    .address {
      font-size: 1.2rem;
      color: #fff;
      line-height: 1.5;
      text-decoration: none;
      a[href^="tel:"] {
        text-decoration: none;
        color: inherit;
      }
    }
    &-link {
      display: flex;
      width: 67rem;
      justify-content: space-between;
    }
    &-link-menu {
      &:nth-child(1) {
        width: 40rem;
      }
      &:nth-child(2) {
        width: 20rem;
      }
    }
    .list-link {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        flex-direction: column;
        min-width: 20rem;
        row-gap: 1.4rem;
      }
    }
    &-link-item {
      color: #fff;
      font-size: 1.3rem;
      transition: opacity 0.3s ease-in-out;
      position: relative;
      display: block;
      &.wdicon {
        > span {
          position: relative;
          display: inline-block;
          padding-right: 2.1rem;

          &::before {
            position: absolute;
            content: "";
            top: 0.6rem;
            right: 0;
            width: 1rem;
            height: 1rem;
            background-image: url(../../assets/img/ico-ft-externallink.svg);
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
      &:hover {
        opacity: 0.6;
      }
    }
    .link-social {
      position: absolute;
      right: 0;
      bottom: -1rem;
      ul {
        display: flex;
        column-gap: 1.2rem;
      }
    }
  }
  .copyRight {
    font-family: $outfit;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: center;
  }
  @media (min-width: 960px) and (max-width: 1299px) {
    .bottom {
      width: 97.04347826086957%;
    }
  }
  @media (min-width: 960px) and (max-width: 1199px) {
    .bottom {
      &-infor {
        width: 30.67846607669617%;
      }
      .bottom-link {
        width: 65.88003933136676%;
      }
      .bottom-link-menu:nth-child(1) {
        width: 59.70149253731343%;
      }
      .bottom-link-menu:nth-child(2) {
        width: 29.85074626865672%;
      }
      .list-link {
        ul {
          min-width: auto;
        }
      }
    }
  }

  @include sp {
    padding: 6.6rem 2.5rem 5rem;
    position: relative;
    z-index: 6;

    .container-ft {
      position: relative;
      z-index: 1;
    }
    .bottom {
      width: 100%;
      margin: 5rem auto;
      flex-direction: column;

      &-infor {
        width: 100%;
        margin-bottom: 4.8rem;
      }

      &-link {
        width: 100%;
        flex-direction: column;

        &-menu {
          margin-bottom: 5rem;

          &:nth-child(1),
          &:nth-child(2) {
            width: 100%;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .list-link {
        justify-content: flex-start;
        ul {
          min-width: 51.538462%;
        }
      }

      .link-social {
        position: relative;
        margin-top: 5rem;
        bottom: 0;
      }
    }
  }
}
