.gnavi {
  width: 30rem;
  position: fixed;
  top: 0;
  z-index: 995;
  left: -56rem;
  height: 100%;
  background: #fff;
  pointer-events: none;
  transition: left 0.4s ease;
  &.open {
    left: 15rem;
    pointer-events: auto;
  }
  .nav {
    height: 100%;
  }
  .gnavi-list {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    height: 100%;
    .gnavi-link {
      color: #697c8e;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2;
      transition: opacity 0.3s ease-out;
      display: block;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  @include sp {
    width: 100%;
    left: auto;
    right: -100%;
    transition: right 0.4s ease;

    &.open {
      left: auto;
      right: 0;
    }

    .gnavi-list {
      padding: 0 2.5rem;
      align-items: center;
    }
  }
}
