#header {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 100vh;
  width: 15rem;
  align-items: center;
  min-height: 60rem;
  z-index: 999;

  .container-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .main {
    margin-top: 2.5rem;

    .logo {
      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      span {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        margin-top: 2.7rem;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
      }
    }
  }
  @include sp {
    width: 100%;
    height: 8rem;
    min-height: 8rem;
    padding: 0;

    .container-header {
      display: block;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      align-items: center;
    }

    .main {
      margin-top: 0;

      .logo {
        // width: 17.4rem;
        padding: 1.5rem;
        &-item{
          flex-direction: row;
          span{
            writing-mode: inherit;
            text-orientation: inherit;
            margin-top: 0;
            margin-left: 1.5rem;
          }
        }
        img{
          width: 4rem;
        }
      }
    }
  }
}

#menuBtn {
  position: relative;
  height: 7rem;
  width: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: -8.3rem;

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_icon {
      width: 2rem;
      height: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 1rem;

      &-line {
        background-color: #697c8e;
        display: block;
        height: 0.1rem;
        width: 100%;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, 0.3s ease-in-out;

        &:nth-child(2) {
          transform: translateY(0.5rem);
        }
      }
    }

    &_name {
      font-family: $outfit;
      font-weight: bold;
      font-size: 0.9rem;
      letter-spacing: 0.1em;
      line-height: 1;
      color: #697c8e;
    }
  }

  &.open {
    .inner {
      &_icon {
        &-line {
          &:nth-child(1) {
            transform: translateY(1px) rotate(45deg);
          }

          &:nth-child(2) {
            transform: translateY(0) rotate(135deg);
          }
        }
      }
    }
  }
  @include sp {
    margin-top: 0;
    position: fixed;
    top: 0.5rem;
    right: 0;
  }
}

.scrollDown {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding-bottom: 17rem;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &.hide {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &-txt {
    font-family: $outfit;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 0.9rem;
    color: #697c8e;
    writing-mode: vertical-rl;
  }

  &::after {
    content: "";
    position: absolute;
    height: 16.2rem;
    width: 1px;
    background-color: #697c8e;
    top: 1rem;
    left: 49%;
    transform: translateX(-50%);
    opacity: 0;
    animation: pathmove 2s ease-in-out infinite;
  }
}
